    <!-- Page Header -->
    <div class="page-header d-lg-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">Events</div>
        </div>
        <div class="page-rightheader">
            <div class="btn-list">
                <a   data-bs-toggle="modal" data-bs-target="#eventmodal" class="btn btn-primary m-1" (click)="open(content)">Add New Events</a>
                <button  class="btn btn-light3 m-1" data-bs-toggle="tooltip" placement="top" ngbTooltip="E-mail"> <i class="fe fe-mail"></i> </button>
                <button  class="btn btn-light3 m-1" placement="top" data-bs-toggle="tooltip" ngbTooltip="Contact"> <i class="fe fe-phone-call"></i> </button>
                <button  class="btn btn-primary m-1" placement="top" data-bs-toggle="tooltip" ngbTooltip="Info"> <i class="fe fe-info"></i> </button>
            </div>
        </div>
    </div>
    <!-- Page Header Close -->
<!-- Row -->
<div class="row">

        <div class="col-md-12 col-xxl-4 col-xl-5">
            <div class="card custom-card">
                <div class="card-header border-bottom-0">
                    <h4 class="card-title">Upcoming Events</h4>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-success-transparent rounded-3 me-3"><span class="date fs-20">22</span>
                                <span class="month fs-13">FEB</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Anniversary</h6>
                                <span class="clearfix"></span>
                                <small>Office 3rd Anniversary on 22nd Feb</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-purple-transparent rounded-3 me-3"><span class="date fs-20">10</span>
                                <span class="month fs-13">FEB</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Vanessa James</h6>
                                <span class="clearfix"></span>
                                <small>Birthday on Feb 16</small>
                            </div>
                            <p class="float-end mb-0  ms-auto  my-auto">
                                <a class="btn btn-outline-secondary"  href="javascript:void(0);"><i class="ri-cake-2-fill me-2"></i>Wish Now</a>
                            </p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-orange-transparent rounded-3 me-3"><span class="date fs-20">18</span>
                                <span class="month fs-13">FEB</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Trade Shows</h6>
                                <span class="clearfix"></span>
                                <small>Smart Device Trade Show</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-warning-transparent rounded-3 me-3"><span class="date fs-20">06</span>
                                <span class="month fs-13">Mar</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Holiday Party</h6>
                                <span class="clearfix"></span>
                                <small>SCreate a Cost-Effective Holiday Party Menu</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-pink-transparent rounded-3 me-3"><span class="date fs-20">13</span>
                                <span class="month fs-13">MAR</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Team-Building </h6>
                                <span class="clearfix"></span>
                                <small>Team Communication & Creative Innovation team members</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-success-transparent rounded-3 me-3"><span class="date fs-20">24</span>
                                <span class="month fs-13">MAR</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Anniversary</h6>
                                <span class="clearfix"></span>
                                <small>Faith Harris 3rd work  Anniversary</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-purple-transparent rounded-3 me-3"><span class="date fs-20">10</span>
                                <span class="month fs-13">APR</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Austin Bell</h6>
                                <span class="clearfix"></span>
                                <small>Birthday on Apr 16</small>
                            </div>
                            <p class="float-end mb-0  ms-auto  my-auto">
                                <a class="btn btn-outline-secondary"  href="javascript:void(0);"><i class="ri-cake-2-fill me-2"></i>Wish Now</a>
                            </p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-info-transparent rounded-3 me-3"><span class="date fs-20">25</span>
                                <span class="month fs-13">APR</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Board Meeting</h6>
                                <span class="clearfix"></span>
                                <small>It will be held in meeting room</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-purple-transparent rounded-3 me-3"><span class="date fs-20">01</span>
                                <span class="month fs-13">MAY</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Maria Bower</h6>
                                <span class="clearfix"></span>
                                <small>Birthday on May 01</small>
                            </div>
                            <p class="float-end mb-0  ms-auto  my-auto">
                                <a class="btn btn-outline-secondary"  href="javascript:void(0);"><i class="ri-cake-2-fill me-2"></i>Wish Now</a>
                            </p>
                        </div>
                    </div>
                    <div class="mb-0">
                        <div class="d-sm-flex comming_holidays calendar-icon icons">
                            <span class="date_time bg-success-transparent rounded-3 me-3"><span class="date fs-20">21</span>
                                <span class="month fs-13">MAY</span>
                            </span>
                            <div class="me-3 mt-0 mt-sm-2 d-block">
                                <h6 class="mb-1 fw-medium">Max Wilson Anniversary</h6>
                                <span class="clearfix"></span>
                                <small>Max Wilson 1st work  Anniversary</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    <div class="col-md-12 col-xxl-8 col-xl-7">
        <div class="card">
            <div class="card-body">
                <div class="hrevent-calender">
                    <!-- <div id="calendar1"></div> -->
                    <full-calendar  [options]="calendarOptions" 
                     ></full-calendar>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->


<!--Add New Event Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add New Event</h5>
        <button (click)="modal.close('cross click')" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group mb-3">
            <label class="form-label">Event Title</label>
            <input type="text" class="form-control" placeholder="text" value="">
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Event Date:</label>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                    <input type="text" class="form-control choose-date" mwlFlatpickr placeholder="DD-MM-YYYY">
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Event Description</label>
            <textarea class="form-control" rows="3">Some text here...</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <a (click)="modal.close('cross click')" href="javascript:void(0);" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</a>
        <a href="javascript:void(0);" class="btn btn-primary">Add</a>
    </div>
</ng-template>
<!-- End Add New Event Modal  -->