<app-page-header [title]="'Profile '"></app-page-header>
   <!-- Start::row-1 -->
   <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12">
        <div class="card custom-card user-pro-list overflow-hidden">
            <div class="card-body">
                <div class="user-pic text-center">
                    <span class="avatar avatar-xxl online avatar-rounded">
                        <img src="../assets/images/users/16.jpg" alt="img">
                    </span>
                    <div class="pro-user mt-3">
                        <h5 class="pro-user-username text-dark mb-1 fs-16">{{ user?.firstName }} {{ user?.lastName }}</h5>
                        <h6 class="pro-user-desc text-muted fs-12">{{ user?.email }}</h6>
                        <div class="btn-list">
                            <a routerLink="/dashboard/employess-dashboard/employees/edit-profile" class="btn btn-primary mt-3">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card personal-details">
            <div class="card-body">
                <h4 class="card-title">Personal Details</h4>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="fw-semibold w-50">Name </span>
                                </td>
                                <td class="py-2 px-0">{{ user?.firstName }} {{ user?.lastName }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="fw-semibold w-50">Location </span>
                                </td>
                                <td class="py-2 px-0">USA</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="fw-semibold w-50">Languages </span>
                                </td>
                                <td class="py-2 px-0">English, German</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="fw-semibold w-50">Website </span>
                                </td>
                                <td class="py-2 px-0">abigali.com</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="fw-semibold w-50">Email </span>
                                </td>
                                <td class="py-2 px-0">{{ user?.email }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="fw-semibold w-50">Phone </span>
                                </td>
                                <td class="py-2 px-0">{{ user?.phoneNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-12">
        <div class="main-content-body main-content-body-profile card custom-card mg-b-20">
            <!-- main-profile-body -->
            <div class="main-profile-body">
                <div class="tab-content">
                    <div class="tab-pane p-0 show active" id="about">
                        <!-- Remove Biography section -->
                        <!-- <div class="card-body">
                          <h5 class="fw-semibold">Biography</h5>
                          <div class="main-profile-bio mb-0">...</div>
                        </div> -->
                        
                        <div class="card-body border-top">
                            <h5 class="fw-semibold">Contact</h5>
                            <div class="main-profile-contact-list d-xl-flex">
                                <div class="media me-4">
                                    <div class="media-icon bg-primary-transparent text-primary me-3 mt-1">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="media-body">
                                        <small class="text-muted">Mobile</small>
                                        <div class="fw-semibold">
                                            {{ user?.phoneNumber }}
                                        </div>
                                    </div>
                                </div>
                                <div class="media me-4">
                                    <div class="media-icon bg-warning-transparent text-warning me-3 mt-1">
                                        <i class="fa-solid fa-hashtag"></i>
                                    </div>
                                    <div class="media-body">
                                        <small class="text-muted">Mail</small>
                                        <div class="fw-semibold">
                                            {{ user?.email }}
                                        </div>
                                    </div>
                                </div>
                            </div><!-- main-profile-contact-list -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->