     <!-- Start:: Section-1 -->
     <div class="landing-banner landing-banner2" id="home">
        <section class="section">
            <div class="main-banner-container pb-lg-0 px-sm-0">
                <div class="row text-fixed-white d-flex align-items-center">
                    <div class="col">
                        <h2 class="mb-0 text-fixed-white">TicketList</h2>
                    </div>
                    <div class="col col-auto">
                        <ol class="breadcrumb text-center mb-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);" class="text-fixed-white op-6">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);" class="text-fixed-white op-6">Pages</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="javascript:void(0);"
                                    class="text-fixed-white fw-semibold">TicketList</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End:: Section-1 -->

    <!--Div-->
    <div>
        <div class="cover-image sptb section-bg">
            <div class="main-container">
                <div class="row">
                    <div class="col-xl-3 mb-4 mb-xl-0">
                        <div class="position-sticky top-0">
                            <div class="card custom-card border-0 overflow-hidden">
                                <div class="card-body p-0">
                                    <!-- Start::app-sidebar -->
                                    <app-support-sidebar></app-support-sidebar>
                                    <!-- End::app-sidebar -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="card custom-card mb-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Select Priority:</label>
                                            <ng-select class="form-control custom-select p-0" data-trigger
                                               placeholder="Select Priority">
                                                <ng-option value="">Select Priority</ng-option>
                                                <ng-option value="1">High</ng-option>
                                                <ng-option value="2">Medium</ng-option>
                                                <ng-option value="3">Low</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Assigned To:</label>
                                            <ng-select class="form-control custom-select p-0" data-trigger
                                                placeholder="Select Priority">
                                                <ng-option value="">All</ng-option>
                                                <ng-option value="1">Faith Harris</ng-option>
                                                <ng-option value="2">Austin Bell</ng-option>
                                                <ng-option value="3">Maria Bower</ng-option>
                                                <ng-option value="4">Peter Hill</ng-option>
                                                <ng-option value="5">Victoria Lyman</ng-option>
                                                <ng-option value="6">Adam Quinn</ng-option>
                                                <ng-option value="7">Melanie Coleman</ng-option>
                                                <ng-option value="8">Max Wilson</ng-option>
                                                <ng-option value="9">Amelia Russell</ng-option>
                                                <ng-option value="10">Justin Metcalfe</ng-option>
                                                <ng-option value="11">Ryan Young</ng-option>
                                                <ng-option value="12">Jennifer Hardacre</ng-option>
                                                <ng-option value="13">Justin Parr</ng-option>
                                                <ng-option value="14">Julia Hodges</ng-option>
                                                <ng-option value="15">Michael Sutherland</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Select Date:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-text text-muted"> <i
                                                            class="ri-calendar-line"></i> </div>
                                                    <input mwlFlatpickr type="text" class="form-control choose-date"
                                                        placeholder="DD-MM-YYYY">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="form-group mt-2">
                                            <label class="form-label"></label>
                                            <a href="javascript:void(0);"
                                                class="btn btn-primary d-grid">Search</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table
                                        class="table table-vcenter text-nowrap supportticket-list border-bottom custom-table table-hover">
                                        <thead>
                                            <tr class="bg-light2">
                                                <th class="border-bottom-0">#ID</th>
                                                <th class="border-bottom-0">Subject</th>
                                                <th class="border-bottom-0">User</th>
                                                <th class="border-bottom-0  w-5">Category</th>
                                                <th class="border-bottom-0">Status</th>
                                                <th class="border-bottom-0">Last Replied</th>
                                                <th class="border-bottom-0 w-5">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#289</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Sed ut
                                                            perspiciatis</a><span
                                                            class="badge bg-success-transparent ms-2 badge-md">Low</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">12-01-2021
                                                            12:10AM</span></small>
                                                </td>
                                                <td>
                                                    <span class=""> Faith Harris</span>
                                                </td>
                                                <td>Support</td>
                                                <td><span class="badge bg-success">Open</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>5 hours ago</span></td>
                                                <td>
                                                    <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#320</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Excepteur
                                                            occaecat</a><span
                                                            class="badge bg-success-transparent ms-2 badge-md">Low</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">05-02-2021
                                                            10:00AM</span></small>
                                                </td>
                                                <td>
                                                    <span class="">Amelia Russell</span>
                                                </td>
                                                <td>Services</td>
                                                <td><span class="badge bg-success">Open</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>12 hours ago</span>
                                                </td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#837</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Sample
                                                            Test1</a><span
                                                            class="badge bg-danger-transparent ms-2 badge-md">High</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">05-02-2021
                                                            05:30PM</span></small>
                                                </td>
                                                <td>
                                                    <span class="">Amelia Russell</span>
                                                </td>
                                                <td>Customization</td>
                                                <td><span class="badge bg-success">open</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>1 week ago</span></td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#124</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Sample
                                                            Test2</a><span
                                                            class="badge bg-warning-transparent ms-2 badge-md">Medium</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">05-02-2021
                                                            10:45AM</span></small>
                                                </td>
                                                <td>
                                                    <span class="">Max Wilson</span>
                                                </td>
                                                <td>Support</td>
                                                <td><span class="badge bg-danger">Closed</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>3 weeks ago</span></td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#309</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Ut aut
                                                            reiciendi</a><span
                                                            class="badge bg-success-transparent ms-2 badge-md">Low</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">21-04-2021
                                                            11:50AM</span></small>
                                                </td>
                                                <td>
                                                    <span class="">Melanie Coleman</span>
                                                </td>
                                                <td>Services</td>
                                                <td><span class="badge bg-success">Open</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>4 weeks ago</span></td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#117</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Unde omnis
                                                            iste natus</a><span
                                                            class="badge bg-success-transparent ms-2 badge-md">Low</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">11-03-2021
                                                            12:50PM</span></small>
                                                </td>
                                                <td>
                                                    <span class="">Adam Quinn</span>
                                                </td>
                                                <td>Services</td>
                                                <td><span class="badge bg-success">Open</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>1 month ago</span></td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#276</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Et harum
                                                            quidem</a><span
                                                            class="badge bg-warning-transparent ms-2 badge-md">Medium</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">11-04-2021
                                                            03:50PM</span></small>
                                                </td>
                                                <td>
                                                    <span class=""> Victoria Lyman</span>
                                                </td>
                                                <td>Support</td>
                                                <td><span class="badge bg-success">Open</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>3 months ago</span>
                                                </td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#738</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Maiores alias
                                                            aut</a><span
                                                            class="badge bg-danger-transparent ms-2 badge-md">High</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">17-03-2021
                                                            12:05AM</span></small>
                                                </td>
                                                <td>
                                                    <span class="">Peter Hill</span>
                                                </td>
                                                <td>Services</td>
                                                <td><span class="badge bg-success">Open</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>4 months ago</span>
                                                </td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#498</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Quis autem
                                                            vel</a><span
                                                            class="badge bg-danger-transparent ms-2 badge-md">High</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">17-02-2021
                                                            10:00AM</span></small>
                                                </td>
                                                <td>
                                                    <span class="">Maria Bower</span>
                                                </td>
                                                <td>Support</td>
                                                <td><span class="badge bg-success">Open</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>6 months ago</span>
                                                </td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#298</td>
                                                <td>
                                                    <div><a href="javascript:void(0);" class="h5">Ut aut
                                                            reiciendi</a><span
                                                            class="badge bg-danger-transparent ms-2 badge-md">High</span>
                                                    </div>
                                                    <small class="fs-12 text-muted"><i
                                                            class="fe fe-clock me-1 text-muted"></i>Opened:
                                                        <span class="font-weight-normal1">11-03-2021
                                                            02:10PM</span></small>
                                                </td>
                                                <td>
                                                    <span class=""> Austin Bell</span>
                                                </td>
                                                <td>Services</td>
                                                <td><span class="badge bg-danger">closed</span></td>
                                                <td><span class="fs-13 text-muted"><i
                                                            class="fe fe-clock me-2"></i>1 year ago</span></td>
                                                <td>
                                                      <div class="d-flex" ngbDropdown>
                                                        <a href="javascript:void(0);" ngbDropdownToggle class="action-btns1 no-caret"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i
                                                                class="fe fe-more-vertical text-primary"></i></a>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-send me-2"></i>Reply
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-refresh-cw me-2"></i>Re-assign
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-eye me-2"></i>View
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-trash-2 me-2"></i>Delete
                                                                    Ticket</a></li>
                                                            <li><a ngbDropdownItem href="javascript:void(0);"
                                                                    class="dropdown-item"><i
                                                                        class="fe fe-settings me-2"></i>More</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer border-top-0">
                                <nav class="">
                                    <ul class="pagination justify-content-end mb-0">
                                        <li class="page-item disabled"><a class="page-link"
                                                href="javascript:void(0);">Prev</a></li>
                                        <li class="page-item active"><a class="page-link"
                                                href="javascript:void(0);">1</a></li>
                                        <li class="page-item"><a class="page-link"
                                                href="javascript:void(0);">2</a></li>
                                        <li class="page-item"><a class="page-link"
                                                href="javascript:void(0);">3</a></li>
                                        <li class="page-item"><a class="page-link"
                                                href="javascript:void(0);">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Div-->

    <!-- Start:: Section-2 -->
    <section class="sptb bg-white">
        <div class="main-container">
            <div class="row">
                <div class="col-lg-7 col-xl-6 col-md-12">
                    <div class="sub-newsletter">
                        <h3 class="mb-2 "><i class="fe fe-send me-2"></i> Subscribe To Our Onlinesletter</h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor</p>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6 col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ask Here" aria-label="Ask Here"
                            aria-describedby="button-addon12">
                        <button class="btn btn-primary btn-lg btn-wave waves-effect waves-light" type="button"
                            id="button-addon12">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End:: Section-2 -->
