     <!-- Start:: Section-1 -->
	 <div class="landing-banner landing-banner2" id="home">
		<section class="section">
			<div class="main-banner-container pb-lg-0 px-sm-0">
				<div class="row text-fixed-white d-flex align-items-center">
					<div class="col">
						<h2 class="mb-0 text-fixed-white">Contact</h2>
					</div>
					<div class="col col-auto">
						<ol class="breadcrumb text-center mb-0">
							<li class="breadcrumb-item">
								<a href="javascript:void(0);" class="text-fixed-white op-6">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="javascript:void(0);" class="text-fixed-white op-6">Pages</a>
							</li>
							<li class="breadcrumb-item active">
								<a href="javascript:void(0);" class="text-fixed-white fw-semibold">Contact</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- End:: Section-1 -->

	<!--Div-->
	<div>
		<div class="cover-image sptb section-bg">
			<div class="main-container">
				<div class="row">
					<div class="col-lg-6 col-xl-6 col-md-12 mx-auto d-block">
						<div class="card mb-0">
							<div class="card-body">
								<h3 class="fw-semibold2 mb-4">Let's get in Touch</h3>
								<div class="form-group">
									<input class="form-control" placeholder="Your Name" type="text">
								</div>
								<div class="form-group mt-3">
									<input class="form-control" placeholder="Email Address" type="email">
								</div>
								<div class="form-group mt-3">
									<input class="form-control" placeholder="Subject" type="text">
								</div>
								<div class="form-group mt-3">
									<textarea class="form-control" name="example-textarea-input"
										placeholder="Message" rows="6"></textarea>
								</div>
								<div class="text-start mt-3">
									<a class="btn btn-primary waves-effect waves-light"
										href="javascript:void(0);">Send Message</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Div-->

	<!-- Start:: Section-2 -->
	<section class="sptb bg-white">
		<div class="main-container">
			<div class="row">
				<div class="col-lg-7 col-xl-6 col-md-12">
					<div class="sub-newsletter">
						<h3 class="mb-2 "><i class="fe fe-send me-2"></i> Subscribe To Our Onlinesletter</h3>
						<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor</p>
					</div>
				</div>
				<div class="col-lg-5 col-xl-6 col-md-12">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Ask Here" aria-label="Ask Here"
							aria-describedby="button-addon12">
						<button class="btn btn-primary btn-lg btn-wave waves-effect waves-light" type="button"
							id="button-addon12">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End:: Section-2 -->

	