<!-- Section -->
<section>
    <div class="bannerimg cover-image" data-image-src="./assets/images/photos/banner1.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="row text-white">
                    <div class="col">
                        <h1 class="mb-0">Editprofile</h1>
                    </div>
                    <div class="col col-auto">
                        <ol class="breadcrumb text-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:;" class="text-white-50">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="javascript:;" class="text-white">Pages</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="javascript:;" class="text-white">Editprofile</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section -->

<!--Section-->
<section>
    <div class="cover-image sptb section-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 mb-4 mb-xl-0">
                    <div class="position-sticky top-0">
                        <div class="card custom-card border-0 overflow-hidden">
                            <div class="card-body p-0">
                                <!-- Start::app-sidebar -->
                                <app-support-sidebar></app-support-sidebar>
                                <!-- End::app-sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="tab-menu-heading hremp-tabs p-0 border-0 ">
                        <div class="tabs-menu1">
                            <!-- Tabs -->
                            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="panel-tabs">
                                <li [ngbNavItem]="1">
                                  <a ngbNavLink>Edit Profile</a>
                                  <ng-template ngbNavContent>
                                   
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">First Name</label>
                                                        <input type="text" class="form-control" placeholder="First Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Last Name</label>
                                                        <input type="text" class="form-control" placeholder="Last Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Email address</label>
                                                        <input type="email" class="form-control" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Country</label>
                                                        <ng-select class="form-control custom-select p-0" placeholder="Select Country">
                                                            <ng-option value="1">Germany</ng-option>
                                                            <ng-option value="3">Canada</ng-option>
                                                            <ng-option value="4">USA</ng-option>
                                                            <ng-option value="5">Afghanistan</ng-option>
                                                            <ng-option value="6">Albania</ng-option>
                                                            <ng-option value="7">China</ng-option>
                                                            <ng-option value="8">Denmark</ng-option>
                                                            <ng-option value="9">Finland</ng-option>
                                                            <ng-option value="10">India</ng-option>
                                                            <ng-option value="11">Kiribati</ng-option>
                                                            <ng-option value="12">Kuwait</ng-option>
                                                            <ng-option value="13">Mexico</ng-option>
                                                            <ng-option value="14">Pakistan</ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label">Upload Image</label>
                                                        <div class="form-group">
                                                            <label for="form-label" class="form-label"></label>
                                                            <input class="form-control" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label">Status</label>
                                                        <ng-select class="form-control custom-select p-0" placeholder="Select Country">
                                                            <ng-option value="1">Active</ng-option>
                                                            <ng-option value="2">Inactive</ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-end">
                                            <a href="javascript:;" class="me-2 btn btn-success m-1">Save Changes</a>
                                            <a href="javascript:;" class="btn btn-danger m-1">Cancel</a>
                                        </div>
                                   

                                  </ng-template>
                                </li>
                                <li [ngbNavItem]="2">
                                  <a ngbNavLink>Change Password</a>
                                  <ng-template ngbNavContent>
                                    
                                        <div class="card-body">
                                            <div class="form-group mb-0">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Old Password</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group mb-4">
                                                          
                                                            <div class="input-group-text"  (click)="togglePassword()"><i class="fe fe-{{toggleClass}} align-middle"></i></div>
                                                            <input class="form-control" [type]="showPassword ? 'text' : 'password'"  autocomplete id="old-password" placeholder="Password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-0">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">New Password</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group mb-4">
                                                            <div class="input-group-text"  (click)="togglePassword1()"><i class="fe fe-{{toggleClass1}} align-middle"></i></div>
                                                            <input class="form-control" [type]="showPassword1 ? 'text' : 'password'"  autocomplete id="old-password" placeholder="Password">
                                                         
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-0">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Confirm Password</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group mb-4">
                                                            <div class="input-group-text"  (click)="togglePassword2()"><i class="fe fe-{{toggleClass2}} align-middle"></i></div>
                                                            <input class="form-control" [type]="showPassword2 ? 'text' : 'password'"  autocomplete id="old-password" placeholder="Password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-end">
                                            <a href="javascript:;" class="me-2 btn btn-success my-1">Save Changes</a>
                                            <a href="javascript:;" class="btn btn-danger my-1">Cancel</a>
                                        </div>
                                  
                                  </ng-template>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body tabs-menu-body hremp-tabs1 p-0">
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section-->

<!-- Section -->
<section class="sptb bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-md-12">
                <div class="sub-newsletter">
                    <h3 class="mb-2 fs-20"><i class="fa fa-paper-plane-o me-2"></i> Subscribe To Our Onlinesletter</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6 col-md-12">
                <div class="input-group sub-input mt-1">
                    <input class="form-control input-lg" placeholder="Enter your Email" type="text">
                    <div class="input-group-append">
                        <button class="btn ripple btn-primary btn-lg br-tr-3 br-br-3">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section -->
