   <!-- Start:: Section-1 -->
   <div class="landing-banner" id="home">
    <section class="section">
        <div class="main-banner-container px-sm-0">
            <div class="text-center text-fixed-white my-5">
                <h2 class="mb-2 text-fixed-white">Looking For help?</h2>
                <p>Type your query or submit your ticket</p>
            </div>
            <div class="row mx-0">
                <div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
                    <div class="search-background p-0">
                        <input type="text" class="form-control input-lg keywords-input"
                            placeholder="Ask your Questions.....">
                        <button class="btn"><i class="fe fe-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End:: Section-1 -->

<!-- Start:: Section-2 -->
<section class="section section-bg " id="statistics">
    <div class="main-container text-center position-relative">
        <h3 class="fw-semibold mb-2">Why Choose US ?</h3>
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <p class="text-muted fs-15 mb-5 fw-normal">Sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row  g-2 justify-content-center">
            <div class="col-xl-12">
                <div class="row justify-content-evenly">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <div class="card custom-card support-card">
                            <div class="suuport-body text-center ">
                                <span class="mb-3  choose-icon">
                                    <img src="./assets/images/svgs/support/secure.svg" alt="img" class="">
                                </span>
                                <h4 class="fw-semibold mb-1 text-dark">Secure Payment</h4>
                                <p class="mb-1 fs-14 op-7 text-muted ">
                                    Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <div class="card custom-card support-card">
                            <div class="suuport-body text-center ">
                                <span class="mb-3  choose-icon">
                                    <img src="./assets/images/svgs/support/template.svg" alt="img"
                                        class="">
                                </span>
                                <h4 class="fw-semibold mb-1 text-dark">Quality Templates</h4>
                                <p class="mb-1 fs-14 op-7 text-muted ">
                                    Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                        <div class="card custom-card support-card">
                            <div class="suuport-body text-center ">
                                <span class="mb-3  choose-icon">
                                    <img src="./assets/images/svgs/support/support2.svg" alt="img"
                                        class="">
                                </span>
                                <h4 class="fw-semibold mb-1 text-dark">24/7 Support</h4>
                                <p class="mb-1 fs-14 op-7 text-muted ">
                                    Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End:: Section-2 -->


<!-- Start:: Section-3 -->
<section class="section landing-Features sptb" id="features">
    <div class="main-container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="fw-semibold mb-2 text-fixed-white ">Need Support & Response within 24 hours?</h2>
                <p class="text-fixed-white op-8 fs-15 mb-3 fw-normal">Excepteur sint occaecat cupidatat non
                    proident mollit anim id est laborum</p>
                <a href="javascript:void(0);" class="btn btn-light btn-lg">Open Ticket</a>
            </div>
            <div class="col-md-5 d-none d-md-flex">
                <div class="mt-sm-5 flex-wrap text-start">
                    <div class="ms-sm-5 ms-2">
                        <img src="./assets/images/media/png/16.png" alt="image" class="header-text3 ">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End:: Section-3 -->

<!-- Start:: Section-4 -->
<section class="section section-bg " id="our-mission">
    <div class="main-container">
        <h2 class="fw-semibold mb-2 text-center">Check Out Categories</h2>
        <div class="row justify-content-center mb-5  text-center">
            <div class="col-xl-7">
                <p class="text-muted fs-15mb-0 fw-normal">Sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-4 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="support-card card custom-card overflow-hidden wow fadeInUp"
                    data-wow-delay="0.2s">
                    <div class="card-body">
                        <div class="categ-icon">
                            <i class="ri-service-line text-primary"></i>
                        </div>
                        <h3 class="fs-20 mb-3">Services</h3>
                        <ul class="list-unstyled widget-spec">
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Duis aute irure dolor</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Ut enim ad minima veniam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text"> How to pursue pleasure</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Neque porro quisquam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Quis autem vel eum</span></a>
                            </li>
                        </ul>
                        <div class="mb-0 mt-4">
                            <a class="text-primary" href="javascript:void(0);">View more <i
                                    class="las la-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="support-card  custom-card card overflow-hidden wow fadeInUp"
                    data-wow-delay="0.2s">
                    <div class="card-body">
                        <div class="categ-icon">
                            <i class="ri-customer-service-2-line text-orange"></i>
                        </div>
                        <h3 class="fs-20 mb-3">Support</h3>
                        <ul class="list-unstyled widget-spec">
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Duis aute irure dolor</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Ut enim ad minima veniam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text"> How to pursue pleasure</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Neque porro quisquam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Quis autem vel eum</span></a>
                            </li>
                        </ul>
                        <div class="mb-0 mt-4">
                            <a class="text-primary" href="javascript:void(0);">View more <i
                                    class="las la-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="support-card card  custom-card overflow-hidden wow fadeInUp"
                    data-wow-delay="0.2s">
                    <div class="card-body">
                        <div class="categ-icon">
                            <i class="ri-file-text-line text-warning"></i>
                        </div>
                        <h3 class="fs-20 mb-3">License</h3>
                        <ul class="list-unstyled widget-spec">
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Duis aute irure dolor</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Ut enim ad minima veniam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text"> How to pursue pleasure</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Neque porro quisquam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Quis autem vel eum</span></a>
                            </li>
                        </ul>
                        <div class="mb-0 mt-4">
                            <a class="text-primary" href="javascript:void(0);">View more <i
                                    class="las la-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="support-card card  custom-card overflow-hidden wow fadeInUp"
                    data-wow-delay="0.2s">
                    <div class="card-body">
                        <div class="categ-icon">
                            <i class="ri-bill-line text-danger"></i>
                        </div>
                        <h3 class="fs-20 mb-3">Billing</h3>
                        <ul class="list-unstyled widget-spec">
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Duis aute irure dolor</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Ut enim ad minima veniam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text"> How to pursue pleasure</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Neque porro quisquam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Quis autem vel eum</span></a>
                            </li>
                        </ul>
                        <div class="mb-0 mt-4">
                            <a class="text-primary" href="javascript:void(0);">View more <i
                                    class="las la-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="support-card card custom-card overflow-hidden wow fadeInUp"
                    data-wow-delay="0.2s">
                    <div class="card-body">
                        <div class="categ-icon">
                            <i class="ri-settings-2-line text-success"></i>
                        </div>
                        <h3 class="fs-20 mb-3">Settings </h3>
                        <ul class="list-unstyled widget-spec">
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Duis aute irure dolor</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Ut enim ad minima veniam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text"> How to pursue pleasure</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Neque porro quisquam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Quis autem vel eum</span></a>
                            </li>
                        </ul>
                        <div class="mb-0 mt-4">
                            <a class="text-primary" href="javascript:void(0);">View more <i
                                    class="las la-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="support-card card  custom-card overflow-hidden wow fadeInUp"
                    data-wow-delay="0.2s">
                    <div class="card-body">
                        <div class="categ-icon">
                            <i class="ri-stack-line text-pink"></i>
                        </div>
                        <h3 class="fs-20 mb-3">Customization </h3>
                        <ul class="list-unstyled widget-spec">
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Duis aute irure dolor</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Ut enim ad minima veniam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text"> How to pursue pleasure</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Neque porro quisquam</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="fe fe-minus me-1"></i><span
                                        class="categ-text">Quis autem vel eum</span></a>
                            </li>
                        </ul>
                        <div class="mb-0 mt-4">
                            <a class="text-primary" href="javascript:void(0);">View more <i
                                    class="las la-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End:: Section-4 -->

<!-- Start:: Section-5 -->
<section class="section " id="our-Articles">
    <div class="main-container">
        <h2 class="fw-semibold mb-2 text-center">Check Out Recent Articles</h2>
        <div class="row justify-content-center mb-5  text-center">
            <div class="col-xl-7">
                <p class="text-muted fs-15mb-0 fw-normal">Sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua</p>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4">
                <div class="support-card card  custom-card  border">
                    <div class="card-header border-bottom-0">
                        <h4 class="card-title">Recent Articles</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-article mb-0">
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to Updgrade
                                        plan?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How could I
                                        manage active menu class?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text"> How to remove
                                        the dollar $ sign?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to show
                                        sweet alert when i load a page?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">Is there
                                        available in webpack?</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="support-card card custom-card  border">
                    <div class="card-header border-bottom-0">
                        <h4 class="card-title">Popular Articles</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-article mb-0">
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to Updgrade
                                        plan?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text"> How to remove
                                        the dollar $ sign?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to show
                                        sweet alert when i load a page?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How could I
                                        manage active menu class?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">Is there
                                        available in webpack?</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="support-card card custom-card border">
                    <div class="card-header border-bottom-0">
                        <h4 class="card-title">Most Helpful Articles</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-article mb-0">
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text"> How to remove
                                        the dollar $ sign?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to show
                                        sweet alert when i load a page?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to Updgrade
                                        plan?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How could I
                                        manage active menu class?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">Is there
                                        available in webpack?</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End:: Section-5 -->

<!-- Start:: Section-6 -->
<section class="section section-bg  " id="pricing">
    <div class="main-container text-center">
        <h3 class="fw-semibold mb-2">Check Out Your Plan</h3>
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <p class="text-muted fs-15 mb-5 fw-normal">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs mb-3 tab-style-6 bg-primary-transparent" id="myTab" role="tablist">
                <li [ngbNavItem]="1" class="nav-item" role="presentation">
                    <button ngbNavLink class="nav-link" id="pricing-monthly" data-bs-toggle="tab"
                        data-bs-target="#pricing-monthly-pane" type="button" role="tab"
                        aria-controls="pricing-monthly-pane" aria-selected="true">Monthly</button>
                        <ng-template ngbNavContent>
                            <div class="show p-0" id="pricing-monthly-pane" role="tabpanel"
                            aria-labelledby="pricing-monthly" tabindex="0">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 border-end border-inline-end-dashed">
                                    <div class="p-4">
                                        <h4 class="fw-semibold text-center">BASIC</h4>
                                        <div class="pb-4 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                <p class="fs-30 fw-bold mb-0">$199</p>
                                                <p class="text-muted fs-11 fw-semibold mb-0">per month</p>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled text-center fs-12 px-3 pt-3 mb-0">
                                            <li class="mb-3">
                                                <span class="text-muted">Storage Capacity<span
                                                        class="badge bg-light text-default ms-1">1Tb</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Daily Updates<span
                                                        class="badge bg-light text-default ms-1">Unlimited</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Online Support</span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Visitors Monitoring<span
                                                        class="badge bg-light text-default ms-1">24/7</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">2 Free Domains</span>
                                            </li>
                                            <li class="mb-4">
                                                <span class="text-muted">Money Back Guarentee</span>
                                            </li>
                                        </ul>
                                        <div class="d-grid">
                                            <button class="btn btn-primary-light btn-wave">Get Started</button>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 border-end border-inline-end-dashed">
                                    <div class="p-4">
                                        <h4 class="fw-semibold text-center">ADVANCED</h4>
                                        <div class="pb-4 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                <p class="fs-30 fw-bold mb-0">$499</p>
                                                <p class="text-muted fs-11 fw-semibold mb-0">per month</p>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled text-center fs-12 px-3 pt-3 mb-0">
                                            <li class="mb-3">
                                                <span class="text-muted">Storage Capacity<span
                                                        class="badge bg-light text-default ms-1">5Tb</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Daily Updates<span
                                                        class="badge bg-light text-default ms-1">Unlimited</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Online Support</span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Visitors Monitoring<span
                                                        class="badge bg-light text-default ms-1">24/7</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">10 Free Domains</span>
                                            </li>
                                            <li class="mb-4">
                                                <span class="text-muted">Money Back Guarentee</span>
                                            </li>
                                        </ul>
                                        <div class="d-grid">
                                            <button class="btn btn-primary-light btn-wave">Get Started</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <div class="p-4 pricing-offer overflow-hidden">
                                        <span class="pricing-offer-details shadow">
                                            <span class="fw-semibold">10%</span> <span
                                                class="fs-10 op-8 ms-1">Off</span>
                                        </span>
                                        <h4 class="fw-semibold text-center">PREMIUM</h4>
                                        <div class="pb-4 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                <p class="fs-30 fw-bold mb-0 text-primary">$1,299</p>
                                                <p class="text-muted fs-11 fw-semibold mb-0">per month</p>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled text-center fs-12 px-3 pt-3 mb-0">
                                            <li class="mb-3">
                                                <span class="text-muted">Storage Capacity<span
                                                        class="badge bg-light text-default ms-1">10Tb</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Daily Updates<span
                                                        class="badge bg-light text-default ms-1">Unlimited</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Online Support</span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Visitors Monitoring<span
                                                        class="badge bg-light text-default ms-1">24/7</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">30 Free Domains</span>
                                            </li>
                                            <li class="mb-4">
                                                <span class="text-muted">Money Back Guarentee</span>
                                            </li>
                                        </ul>
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-wave shadow">Get Started</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-template>
                </li>
                <li [ngbNavItem]="2" class="nav-item" role="presentation">
                    <button ngbNavLink class="nav-link" id="pricing-yearly" data-bs-toggle="tab"
                        data-bs-target="#pricing-yearly-pane" type="button" role="tab"
                        aria-controls="pricing-yearly-pane" aria-selected="false">Yearly</button>
                        <ng-template ngbNavContent>
                            <div class="p-0" id="pricing-yearly-pane" role="tabpanel"
                            aria-labelledby="pricing-yearly" tabindex="0">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 border-end border-inline-end-dashed">
                                    <div class="p-4">
                                        <h4 class="fw-semibold text-center">BASIC</h4>
                                        <div class="pb-4 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                <p class="fs-30 fw-bold mb-0">$1,499</p>
                                                <p class="text-muted fs-11 fw-semibold mb-0">per year</p>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled text-center fs-12 px-3 pt-3 mb-0">
                                            <li class="mb-3">
                                                <span class="text-muted">Storage Capacity<span
                                                        class="badge bg-light text-default ms-1">1Tb</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Daily Updates<span
                                                        class="badge bg-light text-default ms-1">Unlimited</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Online Support</span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Visitors Monitoring<span
                                                        class="badge bg-light text-default ms-1">24/7</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">2 Free Domains</span>
                                            </li>
                                            <li class="mb-4">
                                                <span class="text-muted">Money Back Guarentee</span>
                                            </li>
                                        </ul>
                                        <div class="d-grid">
                                            <button class="btn btn-primary-light btn-wave">Get Started</button>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 border-end border-inline-end-dashed">
                                    <div class="p-4">
                                        <h4 class="fw-semibold text-center">ADVANCED</h4>
                                        <div class="pb-4 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                <p class="fs-30 fw-bold mb-0">$5,999</p>
                                                <p class="text-muted fs-11 fw-semibold mb-0">per year</p>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled text-center fs-12 px-3 pt-3 mb-0">
                                            <li class="mb-3">
                                                <span class="text-muted">Storage Capacity<span
                                                        class="badge bg-light text-default ms-1">5Tb</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Daily Updates<span
                                                        class="badge bg-light text-default ms-1">Unlimited</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Online Support</span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Visitors Monitoring<span
                                                        class="badge bg-light text-default ms-1">24/7</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">10 Free Domains</span>
                                            </li>
                                            <li class="mb-4">
                                                <span class="text-muted">Money Back Guarentee</span>
                                            </li>
                                        </ul>
                                        <div class="d-grid">
                                            <button class="btn btn-primary-light btn-wave">Get Started</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <div class="p-4 pricing-offer overflow-hidden">
                                        <span class="pricing-offer-details shadow">
                                            <span class="fw-semibold">10%</span> <span
                                                class="fs-10 op-8 ms-1">Off</span>
                                        </span>
                                        <h4 class="fw-semibold text-center">PREMIUM</h4>
                                        <div class="pb-4 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                <p class="fs-30 fw-bold mb-0 text-primary">$11,499</p>
                                                <p class="text-muted fs-11 fw-semibold mb-0">per year</p>
                                            </div>
                                        </div>
                                        <ul class="list-unstyled text-center fs-12 px-3 pt-3 mb-0">
                                            <li class="mb-3">
                                                <span class="text-muted">Storage Capacity<span
                                                        class="badge bg-light text-default ms-1">10Tb</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Daily Updates<span
                                                        class="badge bg-light text-default ms-1">Unlimited</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Online Support</span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">Visitors Monitoring<span
                                                        class="badge bg-light text-default ms-1">24/7</span></span>
                                            </li>
                                            <li class="mb-3">
                                                <span class="text-muted">30 Free Domains</span>
                                            </li>
                                            <li class="mb-4">
                                                <span class="text-muted">Money Back Guarentee</span>
                                            </li>
                                        </ul>
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-wave shadow">Get Started</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-template>
                </li>
            </ul>
        </div>
        <div class="card custom-card overflow-hidden shadow-none">
            <div class="card-body p-0 customtab">
                <div class="tab-content" id="myTabContent" [ngbNavOutlet]="nav">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End:: Section-6 -->


<!-- Start:: Section-7 -->
<section class="section landing-testimonials" id="testimonials">
    <div class="main-container text-center">
        <h3 class="fw-semibold mb-2">Check Out Client Says</h3>
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <p class="text-muted fs-15 mb-5 fw-normal">Sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua</p>
            </div>
        </div>
        <div class="swiper pagination-dynamic text-start">
            <div class="swiper-wrapper">
                <swiper [slidesPerView]="1" (swiper)="setThumbsSwiper($event)" [navigation]="true" [zoom]="true" [autoplay]="true"
                [watchSlidesProgress]="true"  class="swiper vertical upcoming-events-swiper mb-2"
                >
                <!-- <div class="swiper-wrapper"> -->
          @for (image of imageData7; track image) {
       
              <ng-template swiperSlide class="swiper-slide">
             
                  <div class="testimonial-card text-center">
                      <div class="card-body">
                          <div class=" align-items-center mb-2 justify-content-center">
                              <span class="avatar avatar-xxl avatar-rounded">
                                  <img [src]="image.src"  alt="">
                              </span>
                              <div>
                                  <p class="mb-0 fw-semibold fs-18">{{image.name}}</p>
                                  <p class="mb-0 fs-10 fw-semibold text-muted">{{image.company}}</p>
                              </div>
                          </div>
                          <p><i class='bx bxs-quote-alt-left'></i>Nemo enim ipsam voluptatem quia
                              voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                              dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                              qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                              non numquam eius modi tempora incidunt ut labore. </p>
                          <div class="d-flex align-items-center justify-content-center">
                              <div class="d-flex align-items-center">
                                  <span class="text-warning d-block ms-1">
                                      <i class="ri-star-fill fs-16"></i>
                                      <i class="ri-star-fill fs-16"></i>
                                      <i class="ri-star-fill fs-16"></i>
                                      <i class="ri-star-fill fs-16"></i>
                                      <i class="ri-star-half-fill fs-16"></i>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
            
              </ng-template>
        }
        </swiper>
              
            </div>
        </div>
    </div>
</section>
<!-- End:: Section-7 -->

<!-- Start:: Section-8 -->
<section class="section section-bg" id="faq">
    <div class="main-container text-center">
        <h3 class="fw-semibold mb-2">Check Out FAQs</h3>
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <p class="text-muted fs-15 mb-5 fw-normal">We have shared some of the most frequently asked
                    questions to help you out.</p>
            </div>
        </div>
        <div class="row text-start">
            <div class="col-xl-12">
                <div class="row gy-2 justify-content-center">
                    <div class="col-xl-9">
                        
                        
                        <div
                        ngbAccordion
                        [closeOthers]="true"
                        class="accordion accordion-customicon1 accordion-primary accordions-items-seperate"
                        id="accordionExample"
                      >
                      @for(panel of panels; track $index){

                        <div
                          ngbAccordionItem
                          [collapsed]="panel !== 'Where can I subscribe to your newsletter?'"
                          class="accordion-item"
                          
                        >
                          <h2 ngbAccordionHeader class="accordion-header" id="headingOne">
                            <button
                              ngbAccordionButton
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseOne"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                            >
                              {{ panel }}
                            </button>
                          </h2>
                          <div
                            ngbAccordionCollapse
                            id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body" ngbAccordionBody>
                              <ng-template>
                                <strong>This is the first item's accordion body.</strong> It is shown by
                                default, until the collapse plugin adds the appropriate classes that we
                                use to style each element. These classes control the overall appearance,
                                as well as the showing and hiding via CSS transitions. You can modify
                                any of this with custom CSS or overriding our default variables. It's
                                also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      }
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="absolute-banner-section">
        <div class="main-container">
            <div class="card custom-card mb-0 box-shadow overflow-hidden livechat-bg wow fadeInUp"
                data-wow-delay="0.1s">
                <div class="card-body p-4">
                    <div class="text-center">
                        <div>
                            <h3 class="mb-2 display-6 fw-semibold">Any Questions? We can Help</h3>
                            <p class="">Excepteur sint occaecat cupidatat non proident mollit anim id est
                                laborum</p>
                        </div>
                        <div class="btn-list mt-4">
                            <a href="javascript:void(0);"
                                class="btn btn-primary rounded-pill btn-w-xl btn-lg me-3"><i
                                    class='bi bi-chat-dots fs-18 my-auto me-2'></i>Quick Live Chat</a>
                            <a href="javascript:void(0);"
                                class="btn btn-outline-primary rounded-pill btn-w-xl btn-lg"><i
                                    class='bi bi-send fs-18 my-auto me-2'></i>Submit Request</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End:: Section-8 -->
