    <!-- Page Header -->
    <div class="page-header d-lg-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">Expenses</div>
        </div>
        <div class="page-rightheader">
            <div class="btn-list d-flex gap-2">
                <a (click)="openModal(content)"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#expensemodal">Add Expenses</a>
                <button  class="btn btn-light3" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="fe fe-mail"></i> </button>
                <button  class="btn btn-light3" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="fe fe-phone-call"></i> </button>
                <button  class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="fe fe-info"></i> </button>
            </div>
        </div>
    </div>
    <!-- Page Header Close -->

<!-- Start::row-1 -->
 <div class="row">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-header  border-0">
                <h5 class="card-title">My Expenses Summary</h5>
            </div>
            <div class="card-body">
                <div class="row mb-3 gap-1 gap-lg-0">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <span>Show</span>
                            <div class="d-flex ms-2 mx-2">
                                <div class="form-group mb-0">
                                    <ng-select name="quantity" id="select-countries17" class="form-control  wd-150 p-0" placeholder="1" data-trigger>
                                        <ng-option value="1" selected="">1</ng-option>
                                        <ng-option value="2">2</ng-option>
                                        <ng-option value="3">3</ng-option>
                                        <ng-option value="4">4</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <span>entries</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="float-end">
                            <input type="text" class="form-control" placeholder="search">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="emp-attendance">
                        <thead>
                            <tr>
                                <th class="border-bottom-0">#ID</th>
                                <th class="border-bottom-0">Title</th>
                                <th class="border-bottom-0">Purchase From</th>
                                <th class="border-bottom-0">Date</th>
                                <th class="border-bottom-0">Amount ($)</th>
                                <th class="border-bottom-0">Paid By</th>
                                <th class="border-bottom-0">Aprroval Status</th>
                                <th class="border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(expense of expenses;track $index){

                                <tr>
                                    <td>{{expense.id}}</td>
                                    <td>{{expense.title}}</td>
                                    <td>{{expense.purchase}}</td>
                                    <td>{{expense.date}}</td>
                                    <td class="fw-semibold">{{expense.price}}</td>
                                    <td>{{expense.mode}}</td>
                                    <td>
                                        <div class="d-flex">
                                            <div>
                                                <span class="badge bg-{{expense.bg}}">{{expense.status}} </span>
                                            </div>
                                            <div class="mt-1 ms-1">
                                                <span class={{expense.icon}} data-bs-toggle="tooltip" placement="top" ngbTooltip="Duplicated Invoice"></span>
                                            </div>
                                        </div>
                                    </td>
                                   
                                    <td>
                                        <div class="d-flex text-start">
                                            <a  href="javascript:void(0);" class="action-btns1" data-bs-toggle="tooltip" placement="top" ngbTooltip="View">
                                                <i class="fe fe-eye  text-primary"></i>
                                            </a>
                                            <a  href="javascript:void(0);" class="action-btns1" data-bs-toggle="tooltip" placement="top" (click)="remove(expense.id)" ngbTooltip="Delete">
                                                <i class="fe fe-trash-2 text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 --><ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add New Expense</h5>
        <button (click)="modal.close('cross click')" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="leave-types">
            <div class="form-group mb-3">
                <label class="form-label">Title:</label>
                <input type="text" class="form-control" placeholder="text">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label class="form-label">Purchase Place:</label>
                        <input type="text" class="form-control" placeholder="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label class="form-label">Price ($):</label>
                        <input type="text" class="form-control" placeholder="Number">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label class="form-label">Date:</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                <input type="text" class="form-control choose-date" mwlFlatpickr placeholder="DD-MM-YYYY">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="form-label">Upload Invoice</div>
                <div class="form-group">
                    <input class="form-control" type="file">
               </div>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Note:</label>
                <textarea class="form-control" rows="3">Some text here...</textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="ms-auto">
            <a (click)="modal.close('cross click')" href="javascript:void(0);" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</a>
            <a  href="javascript:void(0);" class="btn btn-primary">Save</a>
        </div>
    </div>
</ng-template>