   <!-- Start:: Section-1 -->
   <div class="landing-banner" id="home">
    <section class="section">
        <div class="main-banner-container pb-lg-0 px-sm-0">
            <div class="row text-fixed-white d-flex align-items-center">
                <div class="col">
                    <h2 class="mb-0 text-fixed-white">Knowledge</h2>
                </div>
                <div class="col col-auto">
                    <ol class="breadcrumb text-center mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);" class="text-fixed-white op-6">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);" class="text-fixed-white op-6">Pages</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="javascript:void(0);" class="text-fixed-white fw-semibold">Knowledge</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End:: Section-1 -->

<!-- Start:: Section-2 -->
<section class="section section-bg" id="our-Articles">
    <div class="main-container">
        <div class="row">
            <div class="col-xl-4">
                <div class="support-card card  custom-card  border">
                    <div class="card-header border-bottom-0">
                        <h4 class="card-title">Recent Articles</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-article mb-0">
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to Updgrade
                                        plan?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How could I
                                        manage active menu class?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text"> How to remove
                                        the dollar $ sign?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to show
                                        sweet alert when i load a page?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">Is there
                                        available in webpack?</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="support-card card custom-card  border">
                    <div class="card-header border-bottom-0">
                        <h4 class="card-title">Popular Articles</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-article mb-0">
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to Updgrade
                                        plan?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text"> How to remove
                                        the dollar $ sign?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to show
                                        sweet alert when i load a page?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How could I
                                        manage active menu class?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">Is there
                                        available in webpack?</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="support-card card custom-card border">
                    <div class="card-header border-bottom-0">
                        <h4 class="card-title">Most Helpful Articles</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-article mb-0">
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text"> How to remove
                                        the dollar $ sign?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to show
                                        sweet alert when i load a page?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How to Updgrade
                                        plan?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">How could I
                                        manage active menu class?</span></a>
                            </li>
                            <li>
                                <a class="" routerLink="/support-system/landing-pages/knowledge-view"><i
                                        class="fe fe-file-text"></i><span class="categ-text">Is there
                                        available in webpack?</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End:: Section-2 -->

<!-- Start:: Section-3 -->
<section class="sptb bg-white">
    <div class="main-container">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-md-12">
                <div class="sub-newsletter">
                    <h3 class="mb-2 "><i class="fe fe-send me-2"></i> Subscribe To Our Onlinesletter</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6 col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ask Here" aria-label="Ask Here"
                        aria-describedby="button-addon12">
                    <button class="btn btn-primary btn-lg btn-wave waves-effect waves-light" type="button"
                        id="button-addon12">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End:: Section-3 -->
