
            <!-- Start:: Section-1 -->
            <div class="landing-banner landing-banner2" id="home">
                <section class="section">
                    <div class="main-banner-container pb-lg-0 px-sm-0">
                        <div class="row text-fixed-white d-flex align-items-center">
                            <div class="col">
                                <h2 class="mb-0 text-fixed-white">Knowledge View</h2>
                            </div>
                            <div class="col col-auto">
                                <ol class="breadcrumb text-center mb-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0);" class="text-fixed-white op-6">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0);" class="text-fixed-white op-6">Knowledge</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a href="javascript:void(0);" class="text-fixed-white fw-semibold">Knowledge
                                            View</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End:: Section-1 -->

            <!--Section-->
            <section>
                <div class="cover-image sptb section-bg">
                    <div class="main-container">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card custom-card">
                                    <div class="p-4">
                                        <div class="d-sm-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 class="card-title mb-2">How to Updgrade plan</h4>
                                                <div class="d-md-flex">
                                                    <ul class="mb-0 d-md-flex fs-13 ps-0">
                                                        <li class="me-5">
                                                            <span><i class="fe fe-clock text-muted me-1"></i>Last
                                                                Updated on <span class="text-muted">5 days
                                                                    ago</span></span>
                                                        </li>
                                                        <li class="me-5">
                                                            <span><i class="fe fe-user text-muted me-1 d-inline-block"></i>Posted by<a
                                                                    href="javascript:void(0);"
                                                                    class="text-primary ms-1 d-inline-block">Admin</a> </span>
                                                        </li>
                                                        <li class="me-5" data-bs-placement="top"
                                                            data-bs-toggle="tooltip" title=""
                                                            data-original-title="Views">
                                                            <span><i class="fe fe-eye text-muted me-1"></i>765</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="klview-icons btn-group mt-3 mt-sm-0">
                                                <a href="javascript:void(0);"
                                                    class="border-end btn btn-outline-light btn-sm me-0"><i
                                                        class="bi bi-hand-thumbs-up-fill text-success"></i> 2</a>
                                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm"><i
                                                        class="bi bi-hand-thumbs-down-fill text-danger"></i> 0</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-body pb-0 pt-1">
                                        <div class="mb-4 description">
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                praesentium voluptatum deleniti atcorrupti quos dolores et quas
                                                molestias excepturi sint occaecati cupiditate non provident, similique
                                                sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                                dolorum fuga.</p>
                                            <p>On the other hand, we denounce with righteous indignation and dislike men
                                                who are so beguiled and demoraliz the charms of pleasure of the moment,
                                                so blinded by desire, that they cannot foresee the pain and trouble
                                                thena bound to ensue; and equal blame belongs to those who fail in their
                                                duty through weakness of will, which is the same as saying through
                                                shrinking from toil and pain.</p>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                praesentium voluptatum deleniti atcorrupti quos dolores et quas
                                                molestias excepturi sint occaecati cupiditate non provident, similique
                                                sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                                dolorum fuga.</p>
                                            <p>On the other hand, we denounce with righteous indignation and dislike men
                                                who are so beguiled and demoraliz the charms of pleasure of the moment,
                                                so blinded by desire, that they cannot foresee the pain and trouble
                                                thena bound to ensue; and equal blame belongs to those who fail in their
                                                duty through weakness of will, which is the same as saying through
                                                shrinking from toil and pain.</p>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                praesentium voluptatum deleniti atcorrupti quos dolores et quas
                                                molestias excepturi sint occaecati cupiditate non provident, similique
                                                sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                                dolorum fuga.</p>
                                            <p>On the other hand, we denounce with righteous indignation and dislike men
                                                who are so beguiled and demoraliz the charms of pleasure of the moment,
                                                so blinded by desire, that they cannot foresee the pain and trouble
                                                thena bound to ensue; and equal blame belongs to those who fail in their
                                                duty through weakness of will, which is the same as saying through
                                                shrinking from toil and pain.</p>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                praesentium voluptatum deleniti atcorrupti quos dolores et quas
                                                molestias excepturi sint occaecati cupiditate non provident, similique
                                                sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                                dolorum fuga.</p>
                                            <p>On the other hand, we denounce with righteous indignation and dislike men
                                                who are so beguiled and demoraliz the charms of pleasure of the moment,
                                                so blinded by desire, that they cannot foresee the pain and trouble
                                                thena bound to ensue; and equal blame belongs to those who fail in their
                                                duty through weakness of will, which is the same as saying through
                                                shrinking from toil and pain.</p>
                                            <h5 class="mb-4 mt-5 fw-semibold">Files</h5>
                                            <div class="list-group-item  align-items-center">
                                                <div class="d-md-flex">
                                                    <img src="./assets/images/media/files/attachments/2.png" alt="img"
                                                        class="avatar bg-transparent avatar-lg me-2">
                                                    <a href="javascript:void(0);"
                                                        class="fw-semibold fs-14 mt-3">  document.pdf <span
                                                            class="text-muted ms-2"> (23 KB)</span></a>
                                                    <div class="ms-auto d-flex text-end mt-2">
                                                        <a href="javascript:void(0);" class="action-btns1"><i
                                                                class="fe fe-download-cloud text-primary"></i></a>
                                                        <a href="javascript:void(0);" class="action-btns1  me-0"><i
                                                                class="fe fe-trash-2 text-danger"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body border-top d-md-flex">
                                        <div>
                                            <span class="me-2">You think it is helpfull?</span>
                                            <a href="javascript:void(0);" class="btn btn-success btn-sm"><i
                                                    class="bi bi-hand-thumbs-up-fill"></i></a>
                                            <a href="javascript:void(0);" class="btn btn-danger  btn-sm"><i
                                                    class="bi bi-hand-thumbs-down-fill"></i></a>
                                        </div>
                                        <div class="ms-auto"><span>Views:</span><span class="fw-semibold ms-1">45</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <div class="card shadow-none border">
                                            <div class="d-sm-flex p-4">
                                                <div class="d-flex me-3">
                                                    <span class="avatar avatar-lg me-2 avatar-rounded">
                                                        <img src="./assets/images/users/16.jpg" alt="img">
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mt-1 mb-1 fw-semibold">Have you using update version</h5>
                                                    <small class="text-muted"><i class="fe fe-calendar"></i> Jan 21 2021
                                                        <i class=" ms-3 fe fe-clock-o"></i> 13:00</small>
                                                    <p class="fs-13 mb-2 mt-1">
                                                        Lorem ipsum dolor sit amet, quis Neque porro quisquam est,
                                                        nostrud exercitation ullamco laboris commodo consequat.
                                                    </p>
                                                    <a href="javascript:void(0);" class="me-2 mt-1"><span
                                                            class="badge bg-light text-dark"><i
                                                                class="fe fe-message-circle"></i> Comment</span></a>
                                                    <a href="javascript:void(0);" class="me-2 mt-1"><span
                                                            class="badge bg-light text-dark"><i class="fe fe-reply"></i>
                                                            Reply</span></a>
                                                    <div class="sub-media d-sm-flex mt-5 card mb-0">
                                                        <div class="d-flex me-3">
                                                            <span class="avatar avatar-lg me-2 avatar-rounded">
                                                                <img src="./assets/images/users/1.jpg" alt="img">
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="mt-1 mb-1 fw-semibold">Yes, sir</h5>
                                                            <small class="text-muted"><i class="fe fe-calendar"></i> Jan
                                                                22 2021 <i class=" ms-3 fe fe-clock-o"></i>
                                                                09:00</small>
                                                            <p class="fs-13 mb-2 mt-1">
                                                                Lorem ipsum dolor sit amet, quis Neque porro quisquam
                                                                est, nostrud exercitation ullamco laboris commodo
                                                                consequat.
                                                            </p>
                                                            <a href="javascript:void(0);" class="me-2 mt-1"><span
                                                                    class="badge bg-light text-dark"><i
                                                                        class="fe fe-message-circle"></i>
                                                                    Comment</span></a>
                                                            <a href="javascript:void(0);" class="me-2 mt-1"><span
                                                                    class="badge bg-light text-dark"><i
                                                                        class="fe fe-reply"></i> Reply</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card custom-card shadow-none border">
                                            <div class="d-sm-flex p-4">
                                                <div class="d-flex me-3">
                                                    <span class="avatar avatar-lg me-2 avatar-rounded">
                                                        <img src="./assets/images/users/11.jpg" alt="img">
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mt-1 mb-1 fw-semibold">Send the related data</h5>
                                                    <small class="text-muted"><i class="fe fe-calendar"></i> Dec 10 2020
                                                        <i class=" ms-3 fe fe-clock-o"></i> 06:00</small>
                                                    <p class="fs-13 mb-2 mt-1">
                                                        Lorem ipsum dolor sit amet, quis Neque porro quisquam est,
                                                        nostrud exercitation ullamco laboris commodo consequat.
                                                    </p>
                                                    <a href="javascript:void(0);" class="me-2 mt-1"><span
                                                            class="badge bg-light text-dark"><i
                                                                class="fe fe-message-circle"></i> Comment</span></a>
                                                    <a href="javascript:void(0);" class="me-2 mt-1"><span
                                                            class="badge bg-light text-dark"><i class="fe fe-reply"></i>
                                                            Reply</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card custom-card mb-md-0">
                                    <div class="card-header border-0">
                                        <h4 class="card-title">Comment</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Your Name" type="text">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input class="form-control" placeholder="Email Address" type="text">
                                        </div>
                                        <div class="form-group mt-3">
                                            <textarea class="form-control" placeholder="Your Comment"
                                                rows="6"></textarea>
                                        </div>
                                        <a href="javascript:void(0);" class="btn btn-primary mt-3">Submit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 mb-4 mb-xl-0">
                                <div class="position-sticky top-0">
                                    <div class="card custom-card mt-4 mt-xl-0">
                                        <div class="card-header  border-0">
                                            <h4 class="card-title">Categories</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="list-catergory">
                                                <div class="item-list">
                                                    <ul class="list-group mb-0">
                                                        <li class="list-group-item justify-content-between d-flex">
                                                            <a class="text-dark" href="javascript:void(0);">Support </a>
                                                            <span
                                                                class="badgetext badge bg-light text-dark mb-0 mt-1">14</span>
                                                        </li>
                                                        <li class="list-group-item justify-content-between d-flex">
                                                            <a class="text-dark" href="javascript:void(0);">Services</a>
                                                            <span
                                                                class="badgetext badge bg-light text-dark mb-0 mt-1">03</span>
                                                        </li>
                                                        <li class="list-group-item justify-content-between d-flex">
                                                            <a class="text-dark"
                                                                href="javascript:void(0);">Customization</a>
                                                            <span
                                                                class="badgetext badge bg-light text-dark mb-0 mt-1">25</span>
                                                        </li>
                                                        <li class="list-group-item justify-content-between d-flex">
                                                            <a class="text-dark" href="javascript:void(0);">Other</a>
                                                            <span
                                                                class="badgetext badge bg-light text-dark mb-0 mt-1">12</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card custom-card mb-0">
                                        <div class="card-header  border-0">
                                            <h4 class="card-title">Popular Articles</h4>
                                        </div>
                                        <div class="card-body swiper-custom">
                                            <div class="upcoming_events">
                                                <swiper [slidesPerView]="4" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true" [mousewheel]="true"
                                                [watchSlidesProgress]="true" direction="vertical" class="swiper vertical popular-articles-swiper"
                                                >
                                                <!-- <div class="swiper-wrapper"> -->
                                          @for (image of imageData7; track $index) {
                                                <ng-template swiperSlide class="swiper-slide">
                                                    <div class="list-card" >
                                                        <a href="javascript:void(0);"><i
                                                                class="fe fe-file-text  bg-light p-1 rounded-circle me-1"></i><span
                                                                class="h6">{{image.title}}</span></a>
                                                        <div class="mt-1">
                                                            <span class="badge bg-primary bg-md fs-10 me-1"><i
                                                                    class="fe fe-eye"></i> {{image.views}}</span>
                                                            <span class="badge bg-success bg-md fs-10"><i
                                                                    class="fe fe-thumbs-up"></i> {{image.likes}}</span>
                                                        </div>
                                                    </div>
                                                    </ng-template>
                                            }
                                            </swiper>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section-->

            <!-- Start:: Section-3 -->
            <section class="sptb bg-white">
                <div class="main-container">
                    <div class="row">
                        <div class="col-lg-7 col-xl-6 col-md-12">
                            <div class="sub-newsletter">
                                <h3 class="mb-2 "><i class="fe fe-send me-2"></i> Subscribe To Our Onlinesletter</h3>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-6 col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ask Here" aria-label="Ask Here"
                                    aria-describedby="button-addon12">
                                <button class="btn btn-primary btn-lg btn-wave waves-effect waves-light" type="button"
                                    id="button-addon12">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End:: Section-3 -->

         
