

            
  <div class="page">
     <div class="landing-page-wrapper">
       <!-- header  -->
       <app-support-header></app-support-header>
       <div class="main-content landing-main px-0" (click)="bodyclick()">
         <!-- <div class="container-fluid"> -->
        
           <router-outlet>
           </router-outlet>
           <!-- </div> -->
            <app-live-chat></app-live-chat>
            <app-tap-to-top></app-tap-to-top>
           <app-support-footer></app-support-footer>
           </div>
     
       <!-- </div> -->
     </div>
   </div>
 <!-- </div> -->
