  <!-- Start:: Section-1 -->
  <div class="landing-banner landing-banner2" id="home">
    <section class="section">
        <div class="main-banner-container pb-lg-0 px-sm-0">
            <div class="row text-fixed-white d-flex align-items-center">
                <div class="col">
                    <h2 class="mb-0 text-fixed-white">Ticket View</h2>
                </div>
                <div class="col col-auto">
                    <ol class="breadcrumb text-center mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);" class="text-fixed-white op-6">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);" class="text-fixed-white op-6">Pages</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="javascript:void(0);" class="text-fixed-white fw-semibold">Ticket
                                View</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- End:: Section-1 -->

<!--Div-->
<div>
    <div class="cover-image sptb section-bg">
        <div class="main-container">
            <div class="row">
                <div class="col-xl-4 mb-4 mb-xl-0">
                    <div class="position-sticky top-0">
                        <div class="card custom-card border-0 overflow-hidden">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Ticket Details
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <!-- Start::app-sidebar -->
                                <aside class="support-sidebar">
                                    <div class="profile-pic">
                                        <div class="profile-pic-img">
                                            <span class="bg-success dots" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title=""
                                                data-original-title="online"
                                                data-bs-original-title=""></span>
                                            <div class="avatar avatar-xxl avatar-rounded">
                                                <img src="./assets/images/users/16.jpg" alt="img">
                                            </div>
                                        </div>
                                        <a href="javascript:void(0);" class="text-dark">
                                            <h5 class="mt-3 mb-1 fw-semibold2">Abigali kelly</h5>
                                        </a>
                                        <small class="text-muted ">App Developer</small>
                                    </div>

                                </aside>
                                <!-- End::app-sidebar -->
                            </div>
                            <div class="card-footer">
                                <div class="d-grid">
                                    <a href="javascript:void(0);" class="btn btn-light">Closed Ticket</a>
                                </div>
                            </div>
                        </div>
                        <div class="card custom-card border-0 overflow-hidden">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Ticket Information
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="w-50">Ticket ID</span>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span class="fw-semibold">#289</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="w-50">Ticket User</span>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span class="fw-semibold">User</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="w-50">Ticket Category</span>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span class="fw-semibold">Support</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="w-50">Ticket Priority</span>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span class="badge bg-success-transparent">Low</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="w-50">Assigned To</span>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span class="fw-semibold">Admin</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="w-50">Open Date</span>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span class="fw-semibold">12-01-2021 11:30AM</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="w-50">Replied Date</span>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span class="fw-semibold">15-01-2021 04:12PM</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="w-50">Status</span>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span class="badge bg-success">Open</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div>
                                <h4 class="card-title mb-1 fs-22">Techincal Issue </h4>
                                <small class="fs-13"><i class="fe fe-clock text-muted me-1"></i>Last Updated
                                    on <span class="text-muted">5 days ago</span></small>
                            </div>
                            <div class="card-options">
                                <span class="badge bg-primary fs-10">On Progress</span>
                            </div>
                        </div>
                        <div class="card-body pt-2">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atcorrupti quos dolores et quas molestias
                                excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                                qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                        </div>
                    </div>
                    <div class="card custom-card">
                        <div class="card-header border-0">
                            <h4 class="card-title">Reply Ticket</h4>
                        </div>
                        <div class="card-body">
                            <div id="note">
                                <form>
                                    <div class="NgxEditor__Wrapper">
                                      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                                      <ngx-editor [editor]="editor" formControlName="editorContent"> </ngx-editor>
                                    </div>
                                  </form>
                            </div>
                            <div class="form-group mt-3">
                                <label id="form-label" class="form-label">Upload Image</label>
                                <input class="form-control" type="file">
                            </div>
                            <div class="custom-controls-stacked d-md-flex  mt-3">
                                <label class="form-label  me-3">Status :</label>
                                <div class="form-check mb-0 me-4">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                        id="flexRadioDefault11">
                                    <label class="form-check-label" for="flexRadioDefault11">
                                        Open
                                    </label>
                                </div>
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                        id="flexRadioDefault12">
                                    <label class="form-check-label" for="flexRadioDefault12">
                                        Close
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="javascript:void(0);" class="btn btn-success">Submit Reply</a>
                            <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                    <div class="card support-converbody">
                        <div class="card-header border-0">
                            <h4 class="card-title">Conversions</h4>
                        </div>
                        <div class="card-body border-bottom">
                            <div class="d-sm-flex">
                                <div class="avatar avatar-lg avatar-rounded me-3">
                                    <img src="./assets/images/users/16.jpg" alt="img">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="mt-1 mb-1 fw-semibold">Adam Quinn <span
                                            class="badge bg-primary-light bg-md ms-2">Admin</span></h5>
                                    <small class="text-muted"><i class="fe fe-clock"></i> 3 mins ago</small>
                                    <p class="fs-13 mb-0 mt-1 supportnote-body">
                                        Lorem ipsum dolor sit amet, quis Neque porro quisquam est, nostrud
                                        exercitation ullamco laboris commodo consequat.
                                    </p>
                                    <div class="btn-list mt-1">
                                        <span class="btn btn-primary dismiss-btn">Update</span>
                                        <span class="btn btn-danger dismiss-btn">Cancel</span>
                                    </div>
                                </div>
                                <div class="ms-auto mt-3 mt-sm-0">
                                    <span class="action-btns supportnote-icon" data-bs-toggle="tooltip"
                                        data-bs-placement="top" aria-label="Edit"
                                        data-bs-original-title="Edit"><i
                                            class="fe fe-edit text-primary fs-16"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border-bottom">
                            <div class="d-sm-flex">
                                <div class="d-flex me-3">
                                    <div class="avatar avatar-lg avatar-rounded">
                                        <img src="./assets/images/users/6.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-1 mb-1 fw-semibold">Abigali kelly <span
                                            class="badge bg-danger-transparent bg-md ms-2">User</span></h5>
                                    <small class="text-muted"><i class="fe fe-clock"></i> 3 weeks
                                        ago</small>
                                    <p class="fs-13 mt-1">
                                        Lorem ipsum dolor sit amet commodo consequat.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="javascript:void(0);" class="attach-supportfiles">
                                                <span class="img-options-remove" data-bs-toggle="remove"><i
                                                        class="fe fe-x"></i></span>
                                                <img src="./assets/images/media/files/attachments/2.png"
                                                    alt="img" class="img-fluid">
                                                <div class="attach-title">doc.pdf</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3 mt-4 mt-md-0">
                                            <a href="javascript:void(0);" class="attach-supportfiles">
                                                <span class="img-options-remove" data-bs-toggle="remove"><i
                                                        class="fe fe-x"></i></span>
                                                <img src="./assets/images/media/files/attachments/5.png"
                                                    alt="img" class="img-fluid">
                                                <div class="attach-title">index.html</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border-bottom">
                            <div class="d-sm-flex">
                                <div class="d-flex me-3">
                                    <div class="avatar avatar-lg avatar-rounded">
                                        <img src="./assets/images/users/10.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-1 mb-1 fw-semibold">Adam Quinn <span
                                            class="badge bg-primary-transparent bg-md ms-2">Admin</span>
                                    </h5>
                                    <small class="text-muted"><i class="fe fe-clock"></i> 1 month
                                        ago</small>
                                    <p class="fs-13 mb-0 mt-1">
                                        Lorem ipsum dolor sit amet laboris commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-sm-flex">
                                <div class="d-flex me-3">
                                    <div class="avatar avatar-lg avatar-rounded">
                                        <img src="./assets/images/users/3.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-1 mb-1 fw-semibold">Abigali kelly <span
                                            class="badge bg-danger-transparent bg-md ms-2">User</span></h5>
                                    <small class="text-muted"><i class="fe fe-clock"></i> 2 months
                                        ago</small>
                                    <p class="fs-13 mt-1 mb-0">
                                        Some techinical issue in our theme
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Div-->

<!-- Start:: Section-2 -->
<section class="sptb bg-white">
    <div class="main-container">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-md-12">
                <div class="sub-newsletter">
                    <h3 class="mb-2 "><i class="fe fe-send me-2"></i> Subscribe To Our Onlinesletter</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6 col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ask Here" aria-label="Ask Here"
                        aria-describedby="button-addon12">
                    <button class="btn btn-primary btn-lg btn-wave waves-effect waves-light" type="button"
                        id="button-addon12">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End:: Section-2 -->
