
            <!-- Start:: Section-1 -->
            <div class="landing-banner landing-banner2" id="home">
                <section class="section">
                    <div class="main-banner-container pb-lg-0 px-sm-0">
                        <div class="row text-fixed-white d-flex align-items-center">
                            <div class="col">
                                <h2 class="mb-0 text-fixed-white">Open Ticket</h2>
                            </div>
                            <div class="col col-auto">
                                <ol class="breadcrumb text-center mb-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0);" class="text-fixed-white op-6">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a href="javascript:void(0);" class="text-fixed-white fw-semibold">Open
                                            Ticket</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End:: Section-1 -->

            <!--Section-->
            <section>
                <div class="cover-image sptb section-bg">
                    <div class="main-container">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card custom-card">
                                    <div class="card-header  border-0">
                                        <h4 class="card-title">New Ticket</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group mt-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0 mt-2">Ticket Subject</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Name" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0 mt-2">Email Address</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Email"
                                                        value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0 mt-2">Priority</label>
                                                </div>
                                                <div class="col-md-9">


                                                    <ng-select class="form-control custom-select p-0" data-trigger
                                                        placeholder="Select Priority">
                                                        <ng-option value="">Select Priority</ng-option>
                                                        <ng-option value="1">High</ng-option>
                                                        <ng-option value="2">Medium</ng-option>
                                                        <ng-option value="3">Low</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0 mt-2">Ticket Category</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <ng-select class="form-control custom-select p-0" data-trigger
                                                       placeholder="Select Category">
                                                        <ng-option value="">Select Category</ng-option>
                                                        <ng-option value="1">Support</ng-option>
                                                        <ng-option value="2">Services</ng-option>
                                                        <ng-option value="3">Customization</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0 mt-2">Ticket Description</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" placeholder="Textarea"
                                                        rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0">Upload Image</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <label id="form-label" class="form-label">Bootstrap's Custom
                                                            File Input</label>
                                                        <input class="form-control" type="file">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="form-label mb-0">Captcha</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="" value="">
                                                    <div class="captch-body  mt-3">
                                                        <img src="./assets/images/media/png/13.png" alt="img">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <a href="javascript:void(0);" class="btn btn-primary btn-lg">Submit
                                                    Ticket</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 mb-4 mb-xl-0">
                                <div class="position-sticky top-0">
                                    <div class="card custom-card">
                                        <div class="card-header  border-0">
                                            <h4 class="card-title">Categories</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="list-catergory">
                                                <div class="item-list">
                                                    <ul class="list-group mb-0">
                                                        <li class="list-group-item justify-content-between d-flex">
                                                            <a class="text-dark" href="javascript:void(0);">Support </a>
                                                            <span
                                                                class="badgetext badge bg-light text-dark mb-0 mt-1">14</span>
                                                        </li>
                                                        <li class="list-group-item justify-content-between d-flex">
                                                            <a class="text-dark" href="javascript:void(0);">Services</a>
                                                            <span
                                                                class="badgetext badge bg-light text-dark mb-0 mt-1">03</span>
                                                        </li>
                                                        <li class="list-group-item justify-content-between d-flex">
                                                            <a class="text-dark"
                                                                href="javascript:void(0);">Customization</a>
                                                            <span
                                                                class="badgetext badge bg-light text-dark mb-0 mt-1">25</span>
                                                        </li>
                                                        <li class="list-group-item justify-content-between d-flex">
                                                            <a class="text-dark" href="javascript:void(0);">Other</a>
                                                            <span
                                                                class="badgetext badge bg-light text-dark mb-0 mt-1">12</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card custom-card mb-0">
                                        <div class="card-header  border-0">
                                            <h4 class="card-title">Popular Articles</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="upcoming_events">
                                                <swiper [slidesPerView]="4" (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true" [speed]="500"
                                                [watchSlidesProgress]="true" direction="vertical" class="swiper vertical popular-articles-swiper"
                                                >
                                                <!-- <div class="swiper-wrapper"> -->
                                          @for (image of imageData7; track image) {
                                      
                            
                                                <ng-template swiperSlide class="swiper-slide">
                                                    <div class="list-card">
                                                        <a href="javascript:void(0);"><i
                                                                class="fe fe-file-text  bg-light p-1 rounded-circle me-1"></i><span
                                                                class="h6">{{image.text}}</span></a>
                                                        <div class="mt-1">
                                                            <span class="badge bg-primary bg-md fs-10 me-1"><i
                                                                    class="fe fe-eye"></i> {{image.views}}</span>
                                                            <span class="badge bg-success bg-md fs-10"><i
                                                                    class="fe fe-thumbs-up"></i> {{image.likes}}</span>
                                                        </div>
                                                    </div>
                                                
                                                   
                                                </ng-template>
                                            
                                         
                                          }
                                          
                                        <!-- </div> -->
                                        </swiper>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Section-->

            <!-- Start:: Section-3 -->
            <section class="sptb bg-white">
                <div class="main-container">
                    <div class="row">
                        <div class="col-lg-7 col-xl-6 col-md-12">
                            <div class="sub-newsletter">
                                <h3 class="mb-2 "><i class="fe fe-send me-2"></i> Subscribe To Our Onlinesletter</h3>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-6 col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ask Here" aria-label="Ask Here"
                                    aria-describedby="button-addon12">
                                <button class="btn btn-primary btn-lg btn-wave waves-effect waves-light" type="button"
                                    id="button-addon12">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End:: Section-3 -->

       