<div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title text-default fs-17 fw-medium" id="offcanvasRightLabel1">Notifications <span class="badge bg-danger-transparent" id="notifiation-data">{{notificationCount}} Unread</span></h5>
    <button type="button" class="btn-close" (click)="activeOffcanvas.close('Close click')" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<div class="offcanvas-body p-0 sidebar-right">
    <overlay-scrollbars>
        <div id="header-notification-scroll" (click)="handleCardClick($event)">
            <ng-container *ngIf="!isNotifyEmpty; else noNotifications">
                <div *ngFor="let notif of notifications" 
                     class="list-group-item align-items-center border-start-0 border-end-0 border-top-0 border-bottom notification-item"
                     [class.unread]="!notif.seen"
                     (click)="onNotificationClick(notif)">
                    <div class="d-flex">
                        <span class="avatar avatar-lg me-3 avatar-rounded" [ngClass]="{
                            'bg-primary': notif.notificationType === 'USER',
                            'bg-success': notif.notificationType === 'CHAT',
                            'bg-warning': notif.notificationType === 'REPORT'
                        }">
                            {{ notif.notificationType.charAt(0) }}
                        </span>
                        <div class="w-65">
                            <div class="fw-medium fs-16">
                                {{ notif.description }}
                                <span *ngIf="!notif.seen" class="badge bg-danger ms-3 px-2 pb-1 mb-1">New</span>
                            </div>
                            <span class="clearfix"></span>
                            <span class="text-muted fs-13 ms-auto d-inline-block">
                                <i class="mdi mdi-clock text-muted me-1"></i>{{ notif.time | date:'medium' }}
                            </span>
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0);" (click)="onDeleteNotification(notif.id, $event)" class="header-cart-remove dropdown-item-close1">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noNotifications>
                <div class="p-5 empty-item1">
                    <div class="text-center">
                        <span class="avatar avatar-xl avatar-rounded bg-danger-transparent">
                            <i class="ri-notification-off-line fs-2"></i>
                        </span>
                        <h6 class="fw-medium mt-3">No New Notifications</h6>
                    </div>
                </div>
            </ng-template>
        </div>
    </overlay-scrollbars>
    @if (!isNotifyEmpty) {
    <div class="p-3 empty-header-item1">
        <div class="d-grid">
            <a routerLink="/pages/notify-list" class="btn btn-primary">View All</a>
        </div>
    </div>
    }
</div>