      <!-- Start:: Section-1 -->
      <div class="landing-banner landing-banner2" id="home">
        <section class="section">
            <div class="main-banner-container pb-lg-0 px-sm-0">
                <div class="row text-fixed-white d-flex align-items-center">
                    <div class="col">
                        <h2 class="mb-0 text-fixed-white">Assigned Categories</h2>
                    </div>
                    <div class="col col-auto">
                        <ol class="breadcrumb text-center mb-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);" class="text-fixed-white op-6">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);" class="text-fixed-white op-6">Pages</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="javascript:void(0);" class="text-fixed-white fw-semibold">Assigned
                                    Categories</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End:: Section-1 -->

    <!--Div-->
    <div>
        <div class="cover-image sptb section-bg">
            <div class="main-container">
                <div class="row">
                    <div class="col-xl-3 mb-4 mb-xl-0">
                        <div class="position-sticky top-0">
                            <div class="card custom-card border-0 overflow-hidden">
                                <div class="card-body p-0">
                                    <!-- Start::app-sidebar -->
                             <app-support-sidebar></app-support-sidebar>
                                    <!-- End::app-sidebar -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="card custom-card">
                                    <div class="card-header justify-content-between">
                                        <h4 class="card-title">Assigned Categories List</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            <div class="col-lg-6">
                                                <div class="d-flex align-items-center">
                                                    <span>Show</span>
                                                    <div class="d-flex ms-2 mx-2">
                                                        <div class="form-group mt-2">
                                                            <ng-select name="quantity" id="select-countries17"
                                                                class="form-control  wd-150 p-0" placeholder="1" data-trigger>
                                                                <ng-option value="1" selected="">1</ng-option>
                                                                <ng-option value="2">2</ng-option>
                                                                <ng-option value="3">3</ng-option>
                                                                <ng-option value="4">4</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                    <span>entries</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="float-end">
                                                    <input type="text" class="form-control"
                                                        placeholder="search">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table
                                                class="table table-vcenter text-nowrap table-hover border table-striped"
                                                id="support-categorylist">
                                                <thead>
                                                    <tr>
                                                        <th class="w-5">#No</th>
                                                        <th class="">Name</th>
                                                        <th class="text-center">Ticket
                                                            Inprogress</th>
                                                        <th class="text-center">Ticket Resolved
                                                        </th>
                                                        <th class="w-5 text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>#01</td>
                                                        <td><span>Services</span></td>
                                                        <td class="text-center"><span>02</span></td>
                                                        <td class="text-center"><span>01</span></td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1">
                                                                    <i class="fe fe-eye text-primary"
                                                                        data-bs-toggle="tooltip"
                                                                        placement="top"
                                                                        ngbTooltip="Edit"></i>
                                                                </a>
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1"
                                                                    data-bs-toggle="tooltip"
                                                                    placement="top" ngbTooltip="Delete"><i
                                                                        class="fe fe-trash-2 text-danger"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>#02</td>
                                                        <td><span>Support</span></td>
                                                        <td class="text-center"><span>18</span></td>
                                                        <td class="text-center"><span>05</span></td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1">
                                                                    <i class="fe fe-eye text-primary"
                                                                        data-bs-toggle="tooltip"
                                                                        placement="top"
                                                                        ngbTooltip="Eidt"></i>
                                                                </a>
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1"
                                                                    data-bs-toggle="tooltip"
                                                                    placement="top" ngbTooltip="Delete"><i
                                                                        class="fe fe-trash-2 text-danger"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>#03</td>
                                                        <td><span>License</span></td>
                                                        <td class="text-center"><span>03</span></td>
                                                        <td class="text-center"><span>01</span></td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1">
                                                                    <i class="fe fe-eye text-primary"
                                                                        data-bs-toggle="tooltip"
                                                                        placement="top"
                                                                        ngbTooltip="Eidt"></i>
                                                                </a>
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1"
                                                                    data-bs-toggle="tooltip"
                                                                    placement="top" ngbTooltip="Delete"><i
                                                                        class="fe fe-trash-2 text-danger"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>#04</td>
                                                        <td><span>Billing</span></td>
                                                        <td class="text-center"><span>03</span></td>
                                                        <td class="text-center"><span>01</span></td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1">
                                                                    <i class="fe fe-eye text-primary"
                                                                        data-bs-toggle="tooltip"
                                                                        placement="top"
                                                                        ngbTooltip="Eidt"></i>
                                                                </a>
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1"
                                                                    data-bs-toggle="tooltip"
                                                                    placement="top" ngbTooltip="Delete"><i
                                                                        class="fe fe-trash-2 text-danger"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>#05</td>
                                                        <td><span>Settings</span></td>
                                                        <td class="text-center"><span>06</span></td>
                                                        <td class="text-center"><span>02</span></td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1">
                                                                    <i class="fe fe-eye text-primary"
                                                                        data-bs-toggle="tooltip"
                                                                        placement="top"
                                                                        ngbTooltip="Eidt"></i>
                                                                </a>
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1"
                                                                    data-bs-toggle="tooltip"
                                                                    placement="top" ngbTooltip="Delete"><i
                                                                        class="fe fe-trash-2 text-danger"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>#06</td>
                                                        <td><span>Customization</span></td>
                                                        <td class="text-center"><span>02</span></td>
                                                        <td class="text-center"><span>02</span></td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1">
                                                                    <i class="fe fe-eye text-primary"
                                                                        data-bs-toggle="tooltip"
                                                                        placement="top"
                                                                        ngbTooltip="Eidt"></i>
                                                                </a>
                                                                <a href="javascript:void(0);"
                                                                    class="action-btns1"
                                                                    data-bs-toggle="tooltip"
                                                                    placement="top" ngbTooltip="Delete"><i
                                                                        class="fe fe-trash-2 text-danger"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Div-->

    <!-- Start:: Section-2 -->
    <section class="sptb bg-white">
        <div class="main-container">
            <div class="row">
                <div class="col-lg-7 col-xl-6 col-md-12">
                    <div class="sub-newsletter">
                        <h3 class="mb-2 "><i class="fe fe-send me-2"></i> Subscribe To Our Onlinesletter</h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor</p>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6 col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ask Here" aria-label="Ask Here"
                            aria-describedby="button-addon12">
                        <button class="btn btn-primary btn-lg btn-wave waves-effect waves-light" type="button"
                            id="button-addon12">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End:: Section-2 -->
