<app-page-header [title]="'User Profile'"></app-page-header>
<!-- Row -->
<div class="row">
    <div class="col-xxl-3  col-xl-4 col-md-12 col-lg-12">
        <div class="card custom-card user-pro-list overflow-hidden">
            <div class="card-body">
                <div class="user-pic text-center">
                    <div class="avatar avatar-xxl me-2 avatar-rounded">
                        <img src="./assets/images/users/1.jpg" alt="img">
                    </div>
                    <div class="pro-user mt-3">
                        <h5 class="pro-user-username text-dark mb-1 fs-16">Faith Harris</h5>
                        <h6 class="pro-user-desc text-muted fs-12">faith&#64;gmail.com</h6>
                        <div class="d-flex justify-content-center mb-1">
                            <span class="fs-13b text-warning"><i class="bx bxs-star"></i></span>
                            <span class="fs-13b text-warning"><i class="bx bxs-star"></i></span>
                            <span class="fs-13b text-warning"><i class="bx bxs-star"></i></span>
                            <span class="fs-13b text-warning"><i class="bx bxs-star"></i></span>
                            <span class="fs-13b text-light"><i class="bx bxs-star"></i></span>
                        </div>
                        <div class="btn-list">
                            <a  href="javascript:void(0);" class="btn btn-light2"> <i class="fe fe-edit"></i> </a>
                            <a  href="javascript:void(0);" class="btn btn-light2"> <i class="fe fe-mail"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
                <div class="row mx-0">
                    <div class="col-4 text-center py-3 border-end">
                        <h5 class="fs-12 fw-semibold mb-3">This Year</h5>
                        <h5 class="mb-2">
                            <span class="fs-18 text-success">22</span>
                        </h5>
                        <h5 class="fs-12 mb-0">Total Projects</h5>
                    </div>
                    <div class="col-4  py-3 text-center border-end">
                        <h5 class="fs-12 fw-semibold mb-3">This Year</h5>
                        <h5 class="mb-2">
                            <span class="fs-18 text-orange">12</span>
                        </h5>
                        <h5 class="fs-12 mb-0">Total Tasks</h5>
                    </div>
                    <div class="col-4 text-center py-3">
                        <h5 class="fs-12 fw-semibold mb-3">This Year</h5>
                        <h5 class="mb-2">
                            <span class="fs-18 text-primary">2</span>
                        </h5>
                        <h5 class="fs-12 mb-0">Awards</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header  border-0">
                <div class="card-title">Basic Info</div>
            </div>
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table mb-0 table-borderless">
                        <tbody>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="w-50">Employee ID</span>
                                </td>
                                <td>:</td>
                                <td class="py-2 px-0">
                                    <span class="">#2987</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="w-50">Designation</span>
                                </td>
                                <td>:</td>
                                <td class="py-2 px-0">
                                    <span class="">Web Designer</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="w-50">Department</span>
                                </td>
                                <td>:</td>
                                <td class="py-2 px-0">
                                    <span class="">Designing</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="w-50">Join Date</span>
                                </td>
                                <td>:</td>
                                <td class="py-2 px-0">
                                    <span class="">05-05-2017</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="w-50">Phone Number</span>
                                </td>
                                <td>:</td>
                                <td class="py-2 px-0">
                                    <span class="">+9685321475</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2 px-0">
                                    <span class="w-50">Status</span>
                                </td>
                                <td>:</td>
                                <td class="py-2 px-0">
                                    <span class="badge bg-success">Active</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card  custom-card">
            <div class="card-header  border-0">
                <div class="card-title">Statistics</div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-end justify-content-between">
                    <h6 class="">Tasks</h6>
                    <h6 class="font-weight-bold mb-1">45%</h6>
                </div>
                <div class="progress progress-sm mb-4">
                    <div class="progress-bar bg-danger w-10"></div>
                </div>
                <div class="d-flex align-items-end justify-content-between">
                    <h6 class="">Projects</h6>
                    <h6 class="font-weight-bold mb-1">56%</h6>
                </div>
                <div class="progress progress-sm mb-4">
                    <div class="progress-bar bg-info w-30"></div>
                </div>
                <div class="d-flex align-items-end justify-content-between">
                    <h6 class="">Over all Performance</h6>
                    <h6 class="font-weight-bold mb-1">72%</h6>
                </div>
                <div class="progress progress-sm mb-0">
                    <div class="progress-bar bg-warning w-50"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-9 col-xl-8 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xxl-3 col-lg-6 col-md-12">
                <div class="card">
                    <a href="javascript:;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="mt-0 text-start me-2">
                                        <span class="fs-16 fw-semibold">Total Tasks</span>
                                        <h3 class="mb-0 mt-1 text-danger fs-25">1254</h3>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="icon1 bg-danger-transparent my-auto  float-end"> <i
                                            class="fe fe-briefcase"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-12">
                <div class="card">
                    <a href="javascript:;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="mt-0 text-start  me-2">
                                        <span class="fs-16 fw-semibold">Running Tasks</span>
                                        <h3 class="mb-0 mt-1 text-primary  fs-25">42</h3>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="icon1 bg-primary-transparent my-auto  float-end"> <i
                                            class="fe fe-clipboard"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-12">
                <div class="card">
                    <a href="javascript:;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="mt-0 text-start me-2">
                                        <span class="fs-16 fw-semibold">On hold Tasks</span>
                                        <h3 class="mb-0 mt-1 text-secondary fs-25">11</h3>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="icon1 bg-secondary-transparent my-auto  float-end"> <i
                                            class="fe fe-info"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-12">
                <div class="card">
                    <a href="javascript:;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="mt-0 text-start me-2">
                                        <span class="fs-16 fw-semibold">Completed Tasks</span>
                                        <h3 class="mb-0 mt-1 text-success fs-25">38</h3>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="icon1 bg-success-transparent my-auto  float-end"> <i
                                            class="fe fe-check"></i> </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12 col-lg-12">
                <div class="card custom-card">
                    <div class="card-header d-flex justify-content-between border-bottom-0">
                        <h4 class="card-title">Recent Task Summary</h4>
                        <div class="float-end">
                            <input type="text" class="form-control" placeholder="search">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-xxl-10">
                                <div class="row">
                                    <div class="col-md-6 col-xxl-4">
                                        <div class="form-group">
                                            <label class="form-label">From:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                    <input type="text" mwlFlatpickr class="form-control choose-date" placeholder="DD-MM-YYYY">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xxl-4">
                                        <div class="form-group">
                                            <label class="form-label">To:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                    <input type="text" mwlFlatpickr class="form-control choose-date" placeholder="DD-MM-YYYY">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xxl-4">
                                        <div class="form-group">
                                            <label class="form-label">Select Priority:</label>
                                            <ng-select class="form-control custom-select p-0" data-trigger placeholder="Select Employee">
                                                <ng-option value="">High</ng-option>
                                                <ng-option value="1">Medium</ng-option>
                                                <ng-option value="2">Low</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 ps-xxl-0 ">
                                <div class="form-group mt-2">
                                    <label class="form-label"></label>
                                    <a  href="javascript:void(0);" class="btn btn-primary d-grid">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top">
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <span>Show</span>
                                    <div class="d-flex ms-2 mx-2">
                                        <div class="form-group mt-2">
                                            <ng-select name="quantity" id="select-countries17" class="form-control  wd-150 p-0" placeholder="1" data-trigger>
                                                <ng-option value="1" selected="">1</ng-option>
                                                <ng-option value="2">2</ng-option>
                                                <ng-option value="3">3</ng-option>
                                                <ng-option value="4">4</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <span>entries</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="float-end">
                                    <input type="text"  matInput (keyup)="applyFilter($event)"  #input class="form-control" placeholder="search">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                              <div class="">
                                <table mat-table [dataSource]="dataSource" matSort class="table table-vcenter text-nowrap table-bordered border-bottom">

                                  <!-- ID Column -->
                                  <ng-container matColumnDef="No">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
                                    <td class="text-center" mat-cell *matCellDef="let row"> {{row.No}} </td>
                                  </ng-container>

                                  <!-- Title Column -->
                                  <ng-container matColumnDef="Task">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
                                    <td mat-cell *matCellDef="let row">
                                        <div class="d-flex">
                                        <span class="bg-{{row.badge}} dot-label1 me-2 mt-1"></span>
                                        <span>{{row.Task}}</span>
                                        </div>
                                    </td>
                                  </ng-container>

                                  <!-- Amount Date Column -->
                                  <ng-container matColumnDef="Priority">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="badge bg-{{row.PriorityStatus}}-transparent"> {{row.Priority}}</span>
                                    </td>
                                  </ng-container>

                                  <!-- PaidBy Date Column -->
                                  <ng-container matColumnDef="StartDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> StartDate </th>
                                    <td mat-cell *matCellDef="let row"> {{row.StartDate}} </td>
                                  </ng-container>

                                  <!-- approval Date Column -->
                                  <ng-container matColumnDef="Deadline">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
                                    <td mat-cell *matCellDef="let row" >{{row.Deadline}}</td>
                                  </ng-container>
                                  <ng-container matColumnDef="Progress">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                                    <td mat-cell *matCellDef="let row" >
                                        <ngb-progressbar class="me-3" type="{{row.progressStatus}}" height="0.5rem" [value]="row.progress"></ngb-progressbar>
                                    </td>
                                  </ng-container>
                                  <ng-container matColumnDef="WorkStatus">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> WorkStatus </th>
                                    <td mat-cell *matCellDef="let row" >
                                        <div class="">
                                            <span class="badge bg-{{row.worksStatus}}">{{row.worksText}}</span>
                                            @if(row.workInfoStatus){

                                                <span class="mt-1 ms-1">
                                                    <span class="fe fe-info text-danger"
                                                        placement="top" ngbTooltip={{row.worksInfoText}}></span>
                                                </span>
                                            }
                                        </div>
                                    </td>
                                  </ng-container>

                                  <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let row">
                                        <div class="d-flex">
                                            <a routerLink="/dashboard/task-dashboard/view-tasks" class="action-btns1" placement="top" ngbTooltip="View Task"><i class="fe fe-eye text-primary"></i></a>
                                            <a (click)="edit(editContent)"  class="action-btns1" placement="top" ngbTooltip="View">
                                                <i class="fe fe-edit-2  text-success"></i>
                                            </a>
                                            <a (click)="removeData(row.No)" href="javascript:;" class="action-btns1" placement="top" ngbTooltip="Delete">
                                                <i class="fe fe-trash-2 text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                  </ng-container>

                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                  <!-- Row shown when there is no matching data. -->
                                  <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                  </tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[8, 25, 100]" aria-label="Select page of users"></mat-paginator>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->



<ng-template #editContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit Task</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
           
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Task ID</label>
                    <input class="form-control" placeholder="Text" value="001">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Task Title</label>
                    <input class="form-control" placeholder="Text" value="Design Updated">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Department:</label>
                    <ng-select name="attendance"  class="form-control custom-select" placeholder="Select Department">
                        <ng-option value="1" selected>Designing Department</ng-option>
                        <ng-option value="2">Development Department</ng-option>
                        <ng-option value="3">Marketing Department</ng-option>
                        <ng-option value="4">Human Resource Department</ng-option>
                        <ng-option value="5">Managers Department</ng-option>
                        <ng-option value="6">Application Department</ng-option>
                        <ng-option value="7">Support Department</ng-option>
                        <ng-option value="8">IT Department</ng-option>
                        <ng-option value="9">Technical Department</ng-option>
                        <ng-option value="10">Accounts Department</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Assign To:</label>
                    <ng-select name="attendance"  class="form-control custom-select" placeholder="Select Employee">
                        <ng-option value="1" selected>Faith Harris</ng-option>
                        <ng-option value="2">Austin Bell</ng-option>
                        <ng-option value="3">Maria Bower</ng-option>
                        <ng-option value="4">Peter Hill</ng-option>
                        <ng-option value="5">Victoria Lyman</ng-option>
                        <ng-option value="6">Adam Quinn</ng-option>
                        <ng-option value="7">Melanie Coleman</ng-option>
                        <ng-option value="8">Max Wilson</ng-option>
                        <ng-option value="9">Amelia Russell</ng-option>
                        <ng-option value="10">Justin Metcalfe</ng-option>
                        <ng-option value="11">Ryan Young</ng-option>
                        <ng-option value="12">Jennifer Hardacre</ng-option>
                        <ng-option value="13">Justin Parr</ng-option>
                        <ng-option value="14">Julia Hodges</ng-option>
                        <ng-option value="15">Michael Sutherland</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Task Priority:</label>
            <ng-select name="attendance"  class="form-control custom-select" placeholder="Select Priority">
                <ng-option value="1" selected>High</ng-option>
                <ng-option value="2">Medium</ng-option>
                <ng-option value="3">Low</ng-option>
            </ng-select>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="leave-content active  mt-3" id="single">
                    <div class="form-group">
                        <label class="form-label">From:</label>
                        <div class="input-group">
                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                            <input type="text" class="form-control choose-date" placeholder="DD-MM-YYYY" value="01-12-2023" mwlFlatpickr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="leave-content active  mt-3" id="single1">
                    <div class="form-group">
                        <label class="form-label">TO:</label>
                        <div class="input-group">
                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                            <input type="text" class="form-control choose-date" placeholder="DD-MM-YYYY" value="01-12-2023" mwlFlatpickr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Description:</label>
            <div class="summernote">f you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</div>
        </div>
            <div class="form-group">
                <label for="form-label" class="form-label">Attachment:</label>
                    <input class="form-control" type="file">
            </div>
        <div class="custom-controls-stacked d-md-flex">
            <label class="form-label mt-1 me-5">Work Status :</label>
            <label class="custom-control custom-radio success me-4">
                <input type="radio" class="custom-control-input me-1" name="example-radios1" value="option1">
                <span class="custom-control-label">Completed</span>
            </label>
            <label class="custom-control custom-radio success me-4">
                <input type="radio" class="custom-control-input me-1" name="example-radios1" value="option2" checked>
                <span class="custom-control-label">On hold</span>
            </label>
            <label class="custom-control custom-radio success">
                <input type="radio" class="custom-control-input me-1" name="example-radios1" value="option3">
                <span class="custom-control-label">On Progress</span>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <div class="ms-auto">
            <a href="javascript:;" class="btn btn-outline-primary me-2" (click)="modal.dismiss('Cross click')"
                data-bs-dismiss="modal">Close</a>
            <a href="javascript:;" class="btn btn-success" (click)="modal.dismiss('Cross click')">Update</a>
        </div>
    </div>
</ng-template>