    <div class="page responsive-log login-bg">
        <div class="page-single">
            <!-- Start::container -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-4 col-xxl-4">
                                <div class="card custom-card my-4">
                                    <div class="p-4 pt-6 text-center">
                                        <a >
                                            <img src="./assets/images/Leoni_AG_Logo.svg.png" class="leoni" alt="Leoni Logo" width="150" height="auto" loading="lazy" />
                                        </a>
                                        <p class="text-muted">Créer un nouveau compte</p>
                                    </div>
                                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="card-body pt-0 pb-3">
                                        <!-- First Name -->
                                        <div class="form-group">
                                        <label class="form-label">Prénom</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fe fe-user"></i></span>
                                            <input type="text" class="form-control" formControlName="firstName" placeholder="Entrez votre prénom" />
                                        </div>
                                        </div>
                                    
                                        <!-- Last Name -->
                                        <div class="form-group">
                                        <label class="form-label">Nom</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fe fe-user"></i></span>
                                            <input type="text" class="form-control" formControlName="lastName" placeholder="Entrez votre nom" />
                                        </div>
                                        </div>
                                    
                                        <!-- Email -->
                                        <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fe fe-mail"></i></span>
                                            <input type="email" class="form-control" formControlName="email" placeholder="Entrez votre email" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Numéro de téléphone</label>
                                            <div class="input-group mb-3">
                                              <span class="input-group-text"><i class="fe fe-phone"></i></span>
                                              <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Entrez votre numéro de téléphone" />
                                            </div>
                                          </div>
                                        </div>
                                                                            <!-- Plant select -->
                                        <div class="form-group">
                                            <label class="form-label">Sélectionner une usine</label>
                                            <ng-select
                                                [items]="plants"
                                                [bindLabel]="'name'"
                                                [bindValue]="'id'"
                                                [loading]="isLoading"
                                                [clearable]="false"
                                                placeholder="Choisissez une usine"
                                                formControlName="plantId"
                                                [class.is-invalid]="registerForm.get('plantId')?.invalid && registerForm.get('plantId')?.touched">
                                            </ng-select>
                                            <div *ngIf="registerForm.get('plantId')?.invalid && registerForm.get('plantId')?.touched" class="invalid-feedback">
                                                Veuillez sélectionner une usine
                                            </div>
                                        </div>
                                        
                                        <!-- Department select -->
                                        <div class="form-group">
                                            <label class="form-label">Sélectionner un département</label>
                                            <ng-select
                                                [items]="departments"
                                                [bindLabel]="'name'"
                                                [bindValue]="'id'"
                                                [loading]="isLoading"
                                                [clearable]="false"
                                                placeholder="Choisissez un département"
                                                formControlName="departmentId"
                                                [class.is-invalid]="registerForm.get('departmentId')?.invalid && registerForm.get('departmentId')?.touched">
                                            </ng-select>
                                            <div *ngIf="registerForm.get('departmentId')?.invalid && registerForm.get('departmentId')?.touched" class="invalid-feedback">
                                                Veuillez sélectionner un département
                                            </div>
                                        </div>
                                        
                                        <!-- Password -->
                                        <div class="form-group">
                                        <label class="form-label">Mot de passe</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fe fe-lock"></i></span>
                                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="Entrez votre mot de passe" />
                                        </div>
                                        </div>
                                    
                                        <!-- Confirm Password -->
                                        <div class="form-group">
                                        <label class="form-label">Confirmer le mot de passe</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fe fe-lock"></i></span>
                                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" placeholder="Confirmez votre mot de passe" />
                                        </div>
                                        </div>
                                    
                                        <!-- Submit -->
                                        <div class="submit d-grid">
                                        <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Créer un compte</button>
                                        </div>
                                    
                                        <div class="text-center mt-4">
                                        <p class="text-dark mb-0">
                                            Vous avez déjà un compte ?
                                            <a class="text-primary ms-1 d-inline-flex" routerLink="/auth/login">Se connecter</a>
                                        </p>
                                        </div>
                                    </form>
                                    
                                    <div class="card-body border-top-0 pb-6 pt-1">
                                        <div class="text-center">
                                        <!-- Facebook  -->
                                        <a href="https://www.facebook.com/LEONI.tunisia" target="_blank" class="avatar avatar-rounded me-2 bg-primary-transparent text-primary">
                                            <i class="ri-facebook-line fs-17"></i>
                                        </a>
                                        
                                        <!-- Instagram -->
                                        <a href="https://www.instagram.com/leoni_tunisia/" target="_blank" class="avatar avatar-rounded me-2 bg-primary-transparent text-primary">
                                            <i class="ri-instagram-line fs-17"></i>
                                        </a>
                                        
                                        <a href="https://www.leoni-tunisia.com/?fbclid=PAZXh0bgNhZW0CMTEAAaZQVavNe_uVh2aIwz-rPnqi8a4BinubQvQU-GQDAeBWIAFaVNKfW5msccA_aem_naDiE9j34crJDB-WZpMbiQ" target="_blank" class="avatar avatar-rounded bg-primary-transparent text-primary">
                                            <span class="fs-17">L</span>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End::container -->
        </div>
    </div>